
/* ここから追加
スマホ版 */


main{
    margin:0 5%;
}

.contact_logo{
    height: 32px;
    margin-top: 20px;
}

.gallery_japanese{
    font-size: 14px;
    font-family: "Noto Sans JP";
    font-weight: 400;
    color: #000000;
}

.gallery_content{
    margin-top: 25px;
    font-size: 14px;
    font-family: "Noto Sans JP";
    font-weight: 500;
    color: #000000;
}

.img_total{
    margin-top: 35px;
    margin-bottom: 50px;
    width:100%;
}

.gallery_img_line{
    display: flex;
    justify-content:space-evenly;
    margin-top:3.75%;
}

.gallery_goods_selling{
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery_goods_selling_img{
    width: 100%;
    height: 100%;
}

.gallery_goods_selling_two_squares{
    width: 20%;
    position: absolute;
    top: 75%;
    left: 75%;
}

.gallery_cross_img{
    position: absolute;
    width: 40px;
    margin-top: 15px;
    left: 15px;
}

/* ここからモーダルウィンドウ 
とりあえずサンプルコピーしたやつ*/

/*モーダルを開くボタンの設定*/

#js-open{
    border: none;
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    padding: 0px 0px;
    width: 28%;
    height: 28%;

}

/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
}

/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.gallery_modal_img_1{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.gallery_modal_img_2{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery_modal_img_3{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
    display: block;
	opacity: 1;
	visibility: visible;
    z-index: 10;
}

.modal_img_box{
    position: relative;
    height: 100%;
}

.modal-content{
    position: relative;
    height: 100%;
    z-index: 2;
}

/*モーダル枠の指定*/
.modal-body{
	position: absolute;
	display: inline-block;
	width: 100%;
    top: 48px;
    bottom: 120px;
    left: 0px;
}

/*モーダルを閉じるボタンの指定*/
#close_button{
    position: absolute;
    z-index: 30;
    width: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.modal-left{
    position: absolute;
    z-index: 30;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;

}

.modal_right_img{
    transform: scale(-1, 1);
}

.modal-right{
    position: absolute;
    z-index: 30;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}



/*モーダル内のコンテンツの指定*/


.gallery_modal_text{
    position: fixed;
    height: 100px;
    padding-top: 20px;
    padding-left:10%;
    padding-right:10%;
    width: 80%;
    border-radius: 20px 20px 0px 0px;
    background: #FFFFFF;
    bottom: 0;


/* 中身の設定とかの設定 */
    font-family: "Noto Sans JP";
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

}