@import "../common/setting.scss";
@import "../common/parts.scss";

$color_gray: #737373;

main{
    max-width: 600px;
    margin: 0 auto;
}

.loading{
    position: fixed;

    background-color: $base_color2;
    background-image: url("/2023/common/img/bg_25_8bit.webp");
    background-repeat: no-repeat;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 100;

    &__block{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100dvh;
    }
    &__graph{
        width: 20%;
        aspect-ratio: 1/1;
        border-radius: 50%;

        mask-image: url(img/graph_mask.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
    }   
    &__text{
        @include en_CnBk(7px, 0.05em, 8px);
        color: $base_color1;
        white-space: nowrap;

        margin-top: 20px;
        margin-bottom: 5dvh;
        
        animation-name: fade-loop;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        @keyframes fade-loop {
            0% {
                opacity: 1;
            }
            50% {
                opacity: .5;
            }
            100% {
                opacity: 1;
            }
        }
    }
    input{
        background-color: $color_gray;
    }
}

.loading-complete{
    position: fixed;

    background-color: $base_color2;
    background-image: url("/2023/common/img/bg_25_8bit.webp");
    background-repeat: no-repeat;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-size: cover;
    z-index: 99;

    &__video{
        position: absolute;
        inset: 0;
        margin: auto;
        width: 75%;
        transform: translateY(-15%);
        mix-blend-mode: screen;
    }
}

main{
    video{
        width: 100%;
    }
}

.page-title{
    position: relative;
    display: grid;
    align-items: center;
    &__img{
        height: 75px;
        width: auto;
    }
    &__text{
        @include en_CnDm(18px, .1em, 25px);
        color: $base_color1;
        position: absolute;
        margin-left: 60px;
    }
}
.theme{
    margin-top: 30px;
    padding: 0 60 / 375 * 100%;

    &__title{
        @include en_CnDm(32px, 0, 39px);
        color: $base_color1;
    }
    &__description-block{
        margin-top: 20px;
    }
    &__description{
        @include jp_Regular(11px, .05em, 32px);
        color: $base_color1;
    }
}
.symbol{
    padding: 0 60 / 375 * 100%;
    &__img-block{
        display: flex;
        justify-content: center;
    }
    &__img{
        width: 80%;
    }
    &__description{
        margin-top: 30px;
    }
}
.type-logo{
    margin-top: 50px;
    &__img-block{
        padding: 0 30px;
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__description{
        margin-top: 30px;
        padding: 0 60 / 375 * 100%;
        @include jp_Regular(11px, .05em, 32px);
        color: $base_color1;
    }
}
.movie{
    margin-top: 50px;
    padding: 0 60 / 375 * 100%;

    @include hover{
        .movie__thumnail{
            transform: scale(1.05);
        }
        .movie__thumnail-block::after{
            opacity: 1;
        }
    }

    &__thumnail-block{
        width: 100%;
        height: auto;
        overflow: hidden;

        position: relative;
        &::after{
            content: "YouTube";
            @include en_CnBk(18px, 0, 25px);
            
            color: $base_color1;
            background-color: rgba($base_color2, .5);
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            text-shadow: $base_color2 0 0 10px;
            opacity: 0;

            transition: opacity .5s;
        }
    }
    &__thumnail{
        width: 100%;
        height: auto;
        transition: transform .5s;
    }
    &__button{
        position: relative;
    }
    &__title{
        position: absolute;
        bottom: 5%;
        left: 3%;

        @include jp_Regular(10px, .05em, 15px);
        color: $base_color1;
    }
    &__play-icon{
        position: absolute;
        bottom: 5%;
        right: 3%;
    }
}
.movie-modal{
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba($base_color2, .8);

    display: none;

    &__background-button{
        position: absolute;
        inset: 0;
    }
    &__block{
        position: absolute;
        inset: 0;
        width: 90vw;
        aspect-ratio: 16/9;
        margin: auto;
        background-color: rgba($base_color2, .5);
    }
    &__x-button{
        position: absolute;
        top: -5px;
        right: 0;
        transform: translateY(-100%);
    }
    &__x-button-img{
        width: 30px;
        height: 30px;
    }
    &__video{
        width: 100%;
        height: 100%;
    }
}


.blog{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 80px;
    
    padding: 0 (60 / 375 * 100%);
    display: grid;

    grid-template-columns: (60 / 9 * 16px) 1fr;
     grid-template-rows: 60px;

    grid-template-areas: "img text";

    &__img{
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        grid-area: img;
    }
    &__block{
        background-color: $base_color1;
        grid-area: text;
        padding: 7px 10px;

        position: relative;
    }
    &__title{
        color: $base_color2;
        @include jp_Bold(9.5px, 0, 13px);
    }
    &__info-block{
        position: absolute;
        bottom: 4px;
        left: 10px;
        transform-origin: left bottom;
        transform: scale(.5);
    }
    &__writer{
        color: #737373;
        @include jp_Bold(14px, 0, 24px);
    }
    &__date{
        color: #737373;
        @include jp_Bold(12x, 0, 24px);
    }
}

@mixin splite($name, $steps){
    &.play{
        animation-name: #{$name};
        animation-duration: $steps / 24 * 1000ms;
        animation-timing-function: steps($steps , end);
    
        @keyframes #{$name} {
            from{
                transform: translateY(0);
            }
            to{
                transform: translateY(-1 * 350px * $steps);
            }
        }
    }
    &.played{
        transform: translateY(-1 * 350px * $steps);
    }
}

.breakdown{
    position: relative;
    height: 400lvh;

    &__video-block{
        position: sticky;
        top: 0;

        display: flex;
        justify-content: center;
        height: 100lvh;
    }
    &__video-wrapper{
        
        position: absolute;
        top: 0;

        width: 90%;
        max-width: 600px;
        height: 100lvh;
        margin: 0 5%;

        /*
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;*/
    }

    &__video{
        visibility: hidden;
        &--visible{
            visibility: visible;
        }

        width: 350px;
        height: 350px;
        aspect-ratio: 1/1;
        overflow: hidden;

        position: absolute;
        inset: 7% 0 auto;
        margin: 0 auto;
    }
    &__img{
        width: 350px;
        height: auto;

        animation-fill-mode: both;
        animation-direction: normal;
        &--01{
            @include splite("splite-01", 8);
        }
        &--02{
            @include splite("splite-02", 11);
        }
        &--03{
            @include splite("splite-03", 10);
        }
        &--04{
            @include splite("splite-04", 11);
        }
    }

    &__description-block{
        height: 300px;
        visibility: hidden;

        position: absolute;
        inset: min(calc(100vw + 50px), 600px) 0 auto;

        &:first-child{
            visibility: visible;
        }
    }
    &__title{
        @include en_CnDm(18px, 0.1em, 25px);
        color: $base_color1;
    }
    &__description{
        @include en_CnBk(11px, 0.05em, 2);
        color: $base_color1;

        margin-top: 20px;
        height: 80px;
    }

    &__progress-block{
        margin-top: 20px;
        width: 100%;
        height: 1px;
        background-color: rgba($color_gray, .3);
    }
    &__progress{
        width: 0;
        height: 1px;
        background-color: $base_color3;
    }
}