.TOP_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .TOP_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-feature-settings: "palt" 1;
    line-height: 44px;
    letter-spacing: 0.2em;
    margin: 10px 0;
  }
}

.TOP_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .TOP_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
  }
}

.TOP_title_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0;
}

.countdown_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    font-feature-settings: "palt" 1;
    line-height: 29px;
    letter-spacing: 0;
  }
}

.countdown_jp2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_jp2 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    font-feature-settings: "palt" 1;
    line-height: 44px;
    letter-spacing: 0.2em;
    margin: 10px 0;
  }
}

.countdown_number {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 22px 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_number {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 90px;
    line-height: 105px;
    letter-spacing: 0;
  }
}

.footer_copy_right {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {
  .footer_copy_right {
    margin: 0;
  }
}

.footer_sns {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 8px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .footer_sns {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 8px;
    letter-spacing: 0;
  }
}

.blog_article_date {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .blog_article_date {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }
}

.top_ta_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .top_ta_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
  }
}

.nav_ta_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8vw;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {
  .nav_ta_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.top_tab_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  font-feature-settings: "palt" 1;
  line-height: 17px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
section .top_tab_jp {
  text-shadow: 0 0 6px #000000;
}
@media only screen and (min-width: 1025px) {
  .top_tab_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    font-feature-settings: "palt" 1;
    line-height: 35px;
    letter-spacing: 0;
  }
}

.top_ta_jp_body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.5px;
  font-feature-settings: "palt" 1;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media only screen and (min-width: 1025px) {
  .top_ta_jp_body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 30px;
    letter-spacing: 0.05em;
  }
}

.top_more_button {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .top_more_button {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.05em;
  }
}

.reading_body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .reading_body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 42px;
    letter-spacing: 0.05em;
  }
}

::-moz-selection {
  background-color: #52CC89;
}

::selection {
  background-color: #52CC89;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  body {
    padding-top: 52px;
    padding-bottom: 133px;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    padding-top: 85px;
    padding-bottom: 575px;
  }
}
body::before {
  content: "";
  position: fixed;
  background-image: url("/2023/common/img/bg_25_8bit.webp");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -10;
}

noscript #no_script {
  z-index: 1000000;
  background-color: red;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
noscript input, noscript label {
  position: fixed;
  z-index: 1000001;
  left: 20px;
  top: 300px;
  border: #ffffff solid 1px;
  padding: 10px;
}
noscript #disp {
  display: none;
}
noscript #disp:checked + #no_script {
  display: none;
}
noscript #disp:checked ~ label {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
@media only screen and (min-width: 1025px) {
  header {
    height: 85px;
  }
}
@media only screen and (max-width: 1024px) {
  header #nav_close, header #nav_sns_block {
    display: none;
  }
}
header #header_logo {
  height: auto;
}
@media only screen and (min-width: 1025px) {
  header #header_logo {
    width: 160px;
    margin: 0 min(50px, 5.5vw - 25px) 2px;
  }
}
@media only screen and (max-width: 1024px) {
  header #header_logo {
    width: 100px;
    margin: 0 21px 0;
    position: relative;
    z-index: 1;
  }
}
@media only screen and (min-width: 1025px) {
  header #nav_control {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header #nav_control {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  header #nav_control img {
    width: 25px;
    height: 25px;
    margin: 18px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1025px) {
  header nav ul {
    display: flex;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 min(33px, 5.5vw - 40px);
  }
  header nav ul li a {
    position: relative;
  }
  header nav ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    transform: scaleX(0);
  }
  header nav ul li a:hover:after {
    width: 100%;
    transform: scaleX(1);
  }
  header nav ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
  header nav #nav_sns_block {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 70px 70px;
    box-sizing: border-box;
    background-image: url("/2023/common/img/bg_rgb_25_8bit.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  }
  header nav ul {
    text-align: right;
  }
  header nav ul a {
    display: inline-block;
    height: calc(11.1111111111dvh - 22.2222222222px);
  }
  header nav ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
  }
  header nav #nav_sns_block {
    width: 100%;
    text-align: end;
    vertical-align: middle;
    position: absolute;
    top: calc(100dvh - 100px);
    right: 70px;
  }
  header nav #nav_sns_block img {
    width: 17px;
    height: auto;
    vertical-align: middle;
    margin: 0 0 0 20px;
  }
}

main {
  transition: opacity 500ms;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  box-sizing: border-box;
}
@media only screen and (min-width: 1025px) {
  footer {
    height: 575px;
    padding: 125px 10vw 107px 15vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer_logo_copy {
    width: 20vw;
    max-width: 290px;
    text-align: right;
  }
  footer .footer_logo_copy #footer_logo {
    margin-top: 25px;
    width: 100%;
    height: auto;
  }
  footer .footer_logo_copy .footer_copy_right {
    width: 100%;
    margin-top: 18.5px;
    word-break: keep-all;
  }
  footer #footer_sns_block {
    order: 3;
  }
  footer #footer_sns_block a {
    display: flex;
    height: 75px;
    align-items: center;
  }
  footer #footer_sns_block a .sns_icon {
    width: 18px;
    height: auto;
    margin-right: 25px;
  }
  footer #footer_sns_block a .sns_link_mark {
    width: auto;
    height: 6px;
    margin-left: 25px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 30vw;
    order: 4;
  }
  footer ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
  footer ul li a {
    display: flex;
    height: 75px;
    align-items: center;
  }
  footer ul a {
    position: relative;
  }
  footer ul a:after {
    position: absolute;
    bottom: 20px;
    left: 0;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    transform: scaleX(0);
    transform-origin: left;
  }
  footer ul a:hover:after {
    width: 75px;
    transform: scaleX(1);
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    height: 133px;
    padding: 25px 10vw 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  footer > a {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer wbr {
    display: none;
  }
  footer .footer_logo_copy {
    width: 160px;
  }
  footer .footer_logo_copy #footer_logo {
    width: 100%;
  }
  footer .footer_logo_copy .footer_copy_right {
    width: 65px;
    transform-origin: left center;
    transform: scale(0.5);
    margin: 0 0 7.5px;
    white-space: nowrap;
    margin-top: 9px;
  }
  footer #footer_sns_block {
    width: 125px;
    height: 100%;
    transform: scale(0.5);
    transform-origin: right top;
  }
  footer #footer_sns_block a {
    display: flex;
    height: 56px;
    align-items: center;
  }
  footer #footer_sns_block a .sns_icon {
    width: 18px;
    margin-right: 25px;
  }
  footer #footer_sns_block a .sns_link_mark {
    height: 6px;
    margin-left: 25px;
  }
  footer ul {
    transform: scale(0.5);
    transform-origin: left top;
    width: 65px;
    white-space: nowrap;
  }
  footer ul .pc_only a {
    display: none;
  }
}

main {
  max-width: 600px;
  margin: 0 auto;
}

.loading {
  position: fixed;
  background-color: #000000;
  background-image: url("/2023/common/img/bg_25_8bit.webp");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 100;
}
.loading__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
}
.loading__graph {
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-mask-image: url(img/graph_mask.svg);
          mask-image: url(img/graph_mask.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.loading__text {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7px;
  line-height: 8px;
  letter-spacing: 0.05em;
  color: #ffffff;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 5dvh;
  animation-name: fade-loop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes fade-loop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.loading input {
  background-color: #737373;
}

.loading-complete {
  position: fixed;
  background-color: #000000;
  background-image: url("/2023/common/img/bg_25_8bit.webp");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-size: cover;
  z-index: 99;
}
.loading-complete__video {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 75%;
  transform: translateY(-15%);
  mix-blend-mode: screen;
}

main video {
  width: 100%;
}

.page-title {
  position: relative;
  display: grid;
  align-items: center;
}
.page-title__img {
  height: 75px;
  width: auto;
}
.page-title__text {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: absolute;
  margin-left: 60px;
}

.theme {
  margin-top: 30px;
  padding: 0 16%;
}
.theme__title {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0;
  color: #ffffff;
}
.theme__description-block {
  margin-top: 20px;
}
.theme__description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.symbol {
  padding: 0 16%;
}
.symbol__img-block {
  display: flex;
  justify-content: center;
}
.symbol__img {
  width: 80%;
}
.symbol__description {
  margin-top: 30px;
}

.type-logo {
  margin-top: 50px;
}
.type-logo__img-block {
  padding: 0 30px;
}
.type-logo__img {
  width: 100%;
  height: auto;
}
.type-logo__description {
  margin-top: 30px;
  padding: 0 16%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.movie {
  margin-top: 50px;
  padding: 0 16%;
}
@media (hover: hover) {
  .movie:hover .movie__thumnail {
    transform: scale(1.05);
  }
  .movie:hover .movie__thumnail-block::after {
    opacity: 1;
  }
}
.movie__thumnail-block {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.movie__thumnail-block::after {
  content: "YouTube";
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: #000000 0 0 10px;
  opacity: 0;
  transition: opacity 0.5s;
}
.movie__thumnail {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}
.movie__button {
  position: relative;
}
.movie__title {
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.movie__play-icon {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.movie-modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.movie-modal__background-button {
  position: absolute;
  inset: 0;
}
.movie-modal__block {
  position: absolute;
  inset: 0;
  width: 90vw;
  aspect-ratio: 16/9;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.movie-modal__x-button {
  position: absolute;
  top: -5px;
  right: 0;
  transform: translateY(-100%);
}
.movie-modal__x-button-img {
  width: 30px;
  height: 30px;
}
.movie-modal__video {
  width: 100%;
  height: 100%;
}

.blog {
  width: 100%;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 0 16%;
  display: grid;
  grid-template-columns: 106.6666666667px 1fr;
  grid-template-rows: 60px;
  grid-template-areas: "img text";
}
.blog__img {
  height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: img;
}
.blog__block {
  background-color: #ffffff;
  grid-area: text;
  padding: 7px 10px;
  position: relative;
}
.blog__title {
  color: #000000;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 9.5px;
  font-feature-settings: "palt" 1;
  line-height: 13px;
  letter-spacing: 0;
}
.blog__info-block {
  position: absolute;
  bottom: 4px;
  left: 10px;
  transform-origin: left bottom;
  transform: scale(0.5);
}
.blog__writer {
  color: #737373;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  font-feature-settings: "palt" 1;
  line-height: 24px;
  letter-spacing: 0;
}
.blog__date {
  color: #737373;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12x;
  font-feature-settings: "palt" 1;
  line-height: 24px;
  letter-spacing: 0;
}

.breakdown {
  position: relative;
  height: 400lvh;
}
.breakdown__video-block {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 100lvh;
}
.breakdown__video-wrapper {
  position: absolute;
  top: 0;
  width: 90%;
  max-width: 600px;
  height: 100lvh;
  margin: 0 5%;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;*/
}
.breakdown__video {
  visibility: hidden;
  width: 350px;
  height: 350px;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: absolute;
  inset: 7% 0 auto;
  margin: 0 auto;
}
.breakdown__video--visible {
  visibility: visible;
}
.breakdown__img {
  width: 350px;
  height: auto;
  animation-fill-mode: both;
  animation-direction: normal;
}
.breakdown__img--01.play {
  animation-name: splite-01;
  animation-duration: 333.3333333333ms;
  animation-timing-function: steps(8, end);
}
@keyframes splite-01 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2800px);
  }
}
.breakdown__img--01.played {
  transform: translateY(-2800px);
}
.breakdown__img--02.play {
  animation-name: splite-02;
  animation-duration: 458.3333333333ms;
  animation-timing-function: steps(11, end);
}
@keyframes splite-02 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3850px);
  }
}
.breakdown__img--02.played {
  transform: translateY(-3850px);
}
.breakdown__img--03.play {
  animation-name: splite-03;
  animation-duration: 416.6666666667ms;
  animation-timing-function: steps(10, end);
}
@keyframes splite-03 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3500px);
  }
}
.breakdown__img--03.played {
  transform: translateY(-3500px);
}
.breakdown__img--04.play {
  animation-name: splite-04;
  animation-duration: 458.3333333333ms;
  animation-timing-function: steps(11, end);
}
@keyframes splite-04 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3850px);
  }
}
.breakdown__img--04.played {
  transform: translateY(-3850px);
}
.breakdown__description-block {
  height: 300px;
  visibility: hidden;
  position: absolute;
  inset: min(100vw + 50px, 600px) 0 auto;
}
.breakdown__description-block:first-child {
  visibility: visible;
}
.breakdown__title {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.breakdown__description {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 20px;
  height: 80px;
}
.breakdown__progress-block {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: rgba(115, 115, 115, 0.3);
}
.breakdown__progress {
  width: 0;
  height: 1px;
  background-color: #52CC89;
}/*# sourceMappingURL=themelogo.css.map */