@charset "UTF-8";

#main {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto Sans JP';
}

.exhibition_top_title {
    margin-top: 20px;
    width: 140px;
    vertical-align: top;
}

.exhibition_top {
    line-height: 0px;
    margin-bottom: 20px;
}

/*--タグ関連-------------------------------------------------------*/

/*--タグ---------------------------------------*/

/*--タグ共通設定---*/
.tag {
    width: fit-content;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    font-family: 'Noto Sans JP';
    font-size: 12px;
    font-weight: 500px;
    text-align: center;
    border-radius: 4px;
}

/* スタンプラリー */
.tag_stamp_rally {
    background-color: #FF0084;
}

/* イベント */
.tag_event {
    background-color: #04FF00;
}

/*バザー*/
.tag_buzzer {
    background-color: #8A00A9;
}

/* タグ説明欄 */

.tags_instruction {
    display: flow-root;
    border: solid 2px #FF0084;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    row-gap: 4px;
}

.tags_instruction_title {
    color: #FF0084;
    padding-bottom: 16px;
}

.tags_instruction_body {
    padding: 0;
    margin: 0;
}

.tag_instruction_list {
    align-items: flex-start;
    display: flex;
    padding-top: 8px;
    padding-bottom: 12px;
}

.tag_instruction_tag {
    min-width: 124px;
}

.tag_instruction_text {
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 500px;
    box-sizing: border-box;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    margin: 0;
}