@charset "UTF-8";

main {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto Sans JP';
    overflow: scroll;
}

.exhibition_top_title {
    margin-top: 20px;
    width: 140px;
    vertical-align: top;
}

.exhibition_top {
    line-height: 0px;
    margin-bottom: 40px;
}


/*--マップ関連-------------------------------------------------------*/

/*--タブ-----------------------------------------------*/


.tabs {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.tabs:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #FF0084;
    /*display: block;*/
    /*order: -1;*/
}

.radio_tab {
    display: none;
}

.radio_label_tab {
    background: #9A9A9A;
    text-align: center;
    /*order: -1;*/
    cursor: pointer;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 38px;
    box-sizing: border-box;
    clip-path: polygon(0px 0px, 0% 100%, 100% 100%, 86px 0px);
    width: 111px;
}

/* アクティブなタブ */
.radio_tab:checked+.radio_label_tab {
    background-color: #FF0084;
}

/*タブ関連おわり-----------------------------------------*/


.map_main {
    width: 100%;
    aspect-ratio: 4 / 5;
    background-color: #D9D9D9;
    margin-bottom: 40px;
    position: relative;
}

/*--フロア関連-------------------------------------------*/

#floors{
    height: 144px;
    width: 36px;
    position: absolute;
    right: 24px;
    bottom: 54px + 54px;
    padding: 0;
    
}

.radio_floor{
    display: None;
}

.radio_label_floor{
    display: block;
    width: 36px;
    height: 36px;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}

#floor_4_label{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#floor_2_label{
    display: None;
}

#floor_1_label{
    display: None;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#floor_1_2_label{
    height: 72px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


#floor_1_2_1_label{
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#floor_1_2_2_label{
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
}

.radio_floor:checked+.radio_label_floor {
    background: #ECECEC;
}


/*--フロア関連おわり-------------------------------------*/


/*--マップ関連おわり------------------------------------------------*/

/*--展示リスト関連------------------------------------------------------*/

.exhibition_lists {
    padding: 0;
}

.each_exhibition_list {
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    height: 96px;
}

#list0 {
    border-top: 1px solid #000000;
}

.list_img_box {
    width: 72px;
    height: 72px;
    border-width: 4px;
    border-color: #0085FF;
    border-radius: 100%;
    border-style: solid;
}

.list_img {
    width: 72px;
    height: 72px;
    clip-path: circle(50% at 50% 50%);
}

.list_body {
    padding-left: 20px;
}

.list_exhibition_place {
    height: 17px;
}

.list_exhibition_name {
    height: 29px;
    padding-bottom: 11px;
}

.list_related_tags {
    display: flex;
    gap: 8px;
}

.list_icon_box {
    margin: 0 0 0 auto;
    height: 40px;
    width: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 16px;
}

.list_icon {
    height: 40px;
    width: 40px;
}

/*--展示リスト関連おわり------------------------------------------------*/

/*--タグ関連-------------------------------------------------------*/

/*--タグ---------------------------------------*/

/*--タグ共通設定---*/
.tag {
    width: fit-content;
    height: 20px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    font-family: 'Noto Sans JP';
    font-size: 12px;
    font-weight: 500px;
    text-align: center;
    border-radius: 4px;
}

/* スタンプラリー */
.tag_stamp_rally {
    background-color: #FF0084;
    width: 92px;
}

/* イベント */
.tag_event {
    background-color: #04FF00;
    width: 56px;
}

/*バザー*/
.tag_bazzer {
    background-color: #8A00A9;
    width: 52px;
}

/*--タグ設定おわり------------------------------------*/

/*--タグ説明欄関連------------------------------------*/
/* タグ説明欄 */

.tags_instruction {
    border: solid 2px #FF0084;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 40px;
    /* margin-bottom は、figmaでは80pxになっているが、外観を考慮して一旦40pxに*/
}

.tags_instruction_title {
    color: #FF0084;
    padding-bottom: 16px;
}

.tags_instruction_body {
    padding: 0;
    margin: 0;
}

.tag_instruction_list {
    align-items: flex-start;
    display: flex;
    padding-top: 8px;
    padding-bottom: 12px;
}

.tag_instruction_tag {
    min-width: 124px;
}

.tag_instruction_text {
    font-size: 12px;
    font-weight: 500px;
    box-sizing: border-box;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    margin: 0;
}

/*--タグ説明欄関連おわり-----------------------------------*/

/*--タグ関連おわり----------------------------------------------------*/