@charset "UTF-8";
.TOP_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .TOP_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-feature-settings: "palt" 1;
    line-height: 44px;
    letter-spacing: 0.2em;
    margin: 10px 0;
  }
}

.TOP_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .TOP_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
  }
}

.TOP_title_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0;
}

.countdown_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    font-feature-settings: "palt" 1;
    line-height: 29px;
    letter-spacing: 0;
  }
}

.countdown_jp2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_jp2 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    font-feature-settings: "palt" 1;
    line-height: 44px;
    letter-spacing: 0.2em;
    margin: 10px 0;
  }
}

.countdown_number {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 22px 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_number {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 90px;
    line-height: 105px;
    letter-spacing: 0;
  }
}

.footer_copy_right {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {
  .footer_copy_right {
    margin: 0;
  }
}

.footer_sns {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 8px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .footer_sns {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 8px;
    letter-spacing: 0;
  }
}

.blog_article_date {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .blog_article_date {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }
}

.top_ta_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .top_ta_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
  }
}

.nav_ta_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8vw;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {
  .nav_ta_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.top_tab_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  font-feature-settings: "palt" 1;
  line-height: 17px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
section .top_tab_jp {
  text-shadow: 0 0 6px #000000;
}
@media only screen and (min-width: 1025px) {
  .top_tab_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    font-feature-settings: "palt" 1;
    line-height: 35px;
    letter-spacing: 0;
  }
}

.top_ta_jp_body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.5px;
  font-feature-settings: "palt" 1;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media only screen and (min-width: 1025px) {
  .top_ta_jp_body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 30px;
    letter-spacing: 0.05em;
  }
}

.top_more_button {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .top_more_button {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.05em;
  }
}

.reading_body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .reading_body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 42px;
    letter-spacing: 0.05em;
  }
}

::-moz-selection {
  background-color: #52CC89;
}

::selection {
  background-color: #52CC89;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  body {
    padding-top: 52px;
    padding-bottom: 133px;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    padding-top: 85px;
    padding-bottom: 575px;
  }
}
body::before {
  content: "";
  position: fixed;
  background-image: url("/2023/common/img/bg_25_8bit.webp");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -10;
}

noscript #no_script {
  z-index: 1000000;
  background-color: red;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
noscript input, noscript label {
  position: fixed;
  z-index: 1000001;
  left: 20px;
  top: 300px;
  border: #ffffff solid 1px;
  padding: 10px;
}
noscript #disp {
  display: none;
}
noscript #disp:checked + #no_script {
  display: none;
}
noscript #disp:checked ~ label {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
@media only screen and (min-width: 1025px) {
  header {
    height: 85px;
  }
}
@media only screen and (max-width: 1024px) {
  header #nav_close, header #nav_sns_block {
    display: none;
  }
}
header #header_logo {
  height: auto;
}
@media only screen and (min-width: 1025px) {
  header #header_logo {
    width: 160px;
    margin: 0 min(50px, 5.5vw - 25px) 2px;
  }
}
@media only screen and (max-width: 1024px) {
  header #header_logo {
    width: 100px;
    margin: 0 21px 0;
    position: relative;
    z-index: 1;
  }
}
@media only screen and (min-width: 1025px) {
  header #nav_control {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header #nav_control {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  header #nav_control img {
    width: 25px;
    height: 25px;
    margin: 18px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1025px) {
  header nav ul {
    display: flex;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 min(33px, 5.5vw - 40px);
  }
  header nav ul li a {
    position: relative;
  }
  header nav ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    transform: scaleX(0);
  }
  header nav ul li a:hover:after {
    width: 100%;
    transform: scaleX(1);
  }
  header nav ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
  header nav #nav_sns_block {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 70px 70px;
    box-sizing: border-box;
    background-image: url("/2023/common/img/bg_rgb_25_8bit.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  }
  header nav ul {
    text-align: right;
  }
  header nav ul a {
    display: inline-block;
    height: calc(11.1111111111dvh - 22.2222222222px);
  }
  header nav ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
  }
  header nav #nav_sns_block {
    width: 100%;
    text-align: end;
    vertical-align: middle;
    position: absolute;
    top: calc(100dvh - 100px);
    right: 70px;
  }
  header nav #nav_sns_block img {
    width: 17px;
    height: auto;
    vertical-align: middle;
    margin: 0 0 0 20px;
  }
}

main {
  transition: opacity 500ms;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  box-sizing: border-box;
}
@media only screen and (min-width: 1025px) {
  footer {
    height: 575px;
    padding: 125px 10vw 107px 15vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer_logo_copy {
    width: 20vw;
    max-width: 290px;
    text-align: right;
  }
  footer .footer_logo_copy #footer_logo {
    margin-top: 25px;
    width: 100%;
    height: auto;
  }
  footer .footer_logo_copy .footer_copy_right {
    width: 100%;
    margin-top: 18.5px;
    word-break: keep-all;
  }
  footer #footer_sns_block {
    order: 3;
  }
  footer #footer_sns_block a {
    display: flex;
    height: 75px;
    align-items: center;
  }
  footer #footer_sns_block a .sns_icon {
    width: 18px;
    height: auto;
    margin-right: 25px;
  }
  footer #footer_sns_block a .sns_link_mark {
    width: auto;
    height: 6px;
    margin-left: 25px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 30vw;
    order: 4;
  }
  footer ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
  footer ul li a {
    display: flex;
    height: 75px;
    align-items: center;
  }
  footer ul a {
    position: relative;
  }
  footer ul a:after {
    position: absolute;
    bottom: 20px;
    left: 0;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    transform: scaleX(0);
    transform-origin: left;
  }
  footer ul a:hover:after {
    width: 75px;
    transform: scaleX(1);
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    height: 133px;
    padding: 25px 10vw 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  footer > a {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer wbr {
    display: none;
  }
  footer .footer_logo_copy {
    width: 160px;
  }
  footer .footer_logo_copy #footer_logo {
    width: 100%;
  }
  footer .footer_logo_copy .footer_copy_right {
    width: 65px;
    transform-origin: left center;
    transform: scale(0.5);
    margin: 0 0 7.5px;
    white-space: nowrap;
    margin-top: 9px;
  }
  footer #footer_sns_block {
    width: 125px;
    height: 100%;
    transform: scale(0.5);
    transform-origin: right top;
  }
  footer #footer_sns_block a {
    display: flex;
    height: 56px;
    align-items: center;
  }
  footer #footer_sns_block a .sns_icon {
    width: 18px;
    margin-right: 25px;
  }
  footer #footer_sns_block a .sns_link_mark {
    height: 6px;
    margin-left: 25px;
  }
  footer ul {
    transform: scale(0.5);
    transform-origin: left top;
    width: 65px;
    white-space: nowrap;
  }
  footer ul .pc_only a {
    display: none;
  }
}

/**********************************************************************/
/*本要素*/
/**********************************************************************/
@media only screen and (min-width: 1025px) {
  main {
    margin-bottom: 95px;
  }
}

/*追加ここから*/
.blog_article_date {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .blog_article_date {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.blog_banner_title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 9.5px;
  font-feature-settings: "palt" 1;
  line-height: 13px;
  letter-spacing: 0;
  color: #000000;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .blog_banner_title {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    font-feature-settings: "palt" 1;
    line-height: 21px;
    letter-spacing: 0;
  }
}

.blog_banner_writer {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-feature-settings: "palt" 1;
  line-height: 18px;
  letter-spacing: 0;
  color: #737373;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .blog_banner_writer {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    font-feature-settings: "palt" 1;
    line-height: 15px;
    letter-spacing: 0;
  }
}

.blog_banner_date {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  color: #737373;
}
@media only screen and (min-width: 1025px) {
  .blog_banner_date {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0;
  }
}

/*要素指定*/
#page_top {
  position: fixed;
  width: 14px;
  bottom: 30px;
  right: 15px;
  cursor: pointer;
  display: none;
  z-index: 10;
  transition: transform 0.3s;
}
@media only screen and (min-width: 1025px) {
  #page_top {
    width: 25px;
    bottom: 80px;
    right: 80px;
  }
  #page_top:hover {
    transform: translateY(-10px);
  }
}

.blog_article_img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  z-index: -1;
}
@media only screen and (min-width: 1025px) {
  .blog_article_img {
    height: 620px;
  }
}

@media only screen and (max-width: 1024px) {
  article {
    width: 500px;
    margin: 200px auto 0;
  }
}
@media only screen and (max-width: 600px) {
  article {
    width: auto;
    margin: 200px 12% 0;
  }
}
@media only screen and (min-width: 1025px) {
  article {
    width: 920px;
    margin: 450px auto 0;
  }
}

.blog_back_arrow_1 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 60px;
  left: 15px;
}
@media only screen and (min-width: 1025px) {
  .blog_back_arrow_1 {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 80px;
    left: 45px;
    transition: transform 0.3s;
  }
  .blog_back_arrow_1:hover {
    transform: scale(1.1);
  }
}

article h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  font-feature-settings: "palt" 1;
  line-height: 33px;
  letter-spacing: 0;
  color: #ffffff;
  position: relative;
  margin: -50px 0px 35px 0px;
  z-index: 2;
  text-shadow: #000000 0 0 20px;
}
@media only screen and (min-width: 1025px) {
  article h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    font-feature-settings: "palt" 1;
    line-height: 68px;
    letter-spacing: 0;
  }
}

.blog_info_date {
  margin-top: 35px;
}

.blog_info_writer {
  margin-top: 0;
}

.blog_digest {
  margin: 30px 0px;
}

.blog_contents {
  padding: 25px 0px 30px;
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
}
.blog_contents .blog_contents_h2 {
  margin-top: 0px;
  padding-left: 0px;
  border: none;
}
.blog_contents .blog_contents_h4 {
  display: flex;
  margin-top: 15px;
  transition: color 0.3s;
}
.blog_contents .blog_contents_h4::before {
  content: "・　";
  display: block;
  height: 100%;
}
.blog_contents .blog_contents_h4:hover {
  color: #B8B8B8;
}

article h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 25px;
  letter-spacing: 0;
  color: #ffffff;
  padding-left: 11px;
  margin-top: 51px;
  border-left: solid 2px #52CC89;
}
@media only screen and (min-width: 1025px) {
  article h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    font-feature-settings: "palt" 1;
    line-height: 30px;
    letter-spacing: 0;
  }
}
article h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  font-feature-settings: "palt" 1;
  line-height: 17px;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 40px;
}
@media only screen and (min-width: 1025px) {
  article h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    font-feature-settings: "palt" 1;
    line-height: 27px;
    letter-spacing: 0;
  }
}
article h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 30px;
}
@media only screen and (min-width: 1025px) {
  article h4 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-feature-settings: "palt" 1;
    line-height: 24px;
    letter-spacing: 0;
  }
}
article h4::before {
  content: "・";
}
article p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0;
}
@media only screen and (min-width: 1025px) {
  article p {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 42px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }
}
article p a {
  color: #52CC89;
  text-decoration: underline;
}
article p b {
  background-color: #52CC89;
  color: #000000;
  padding: 0 4px;
}
article p.icon::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 3px #DC8164 solid;
  /*
  box-shadow: 0 0 0 3px#DC8164, 0 0 0 1px $base_color2;*/
  /*
  outline: #DC8164 solid 2px;
  outline-offset: 1px;*/
}
@media only screen and (min-width: 1025px) {
  article p.icon::before {
    width: 25px;
    height: 25px;
  }
}
article figure {
  margin-top: 21px;
}
article figure img {
  width: 100%;
}
article figure figcaption {
  color: #ffffff;
}
@media only screen and (max-width: 1024px) {
  article figure figcaption {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    font-feature-settings: "palt" 1;
    line-height: 18px;
    letter-spacing: 0;
    margin-top: 5px;
    transform: scale(0.5);
    transform-origin: left top;
    width: 200%;
    height: 9px;
  }
}
@media only screen and (min-width: 1025px) {
  article figure figcaption {
    margin-top: 10px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    font-feature-settings: "palt" 1;
    line-height: 32px;
    letter-spacing: 0.05em;
  }
}

.blog_back_page {
  margin-top: 30px;
}
@media only screen and (min-width: 1025px) {
  .blog_back_page {
    margin-top: 50px;
  }
}
.blog_back_page:hover img {
  transform: translateX(5px);
}
.blog_back_page img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}
@media only screen and (min-width: 1025px) {
  .blog_back_page img {
    width: 50px;
    height: 50px;
  }
}
.blog_back_page .blog_back {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 25px;
  letter-spacing: 0;
  margin: 0;
  color: #ffffff;
  display: inline;
}
@media only screen and (min-width: 1025px) {
  .blog_back_page .blog_back {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-feature-settings: "palt" 1;
    line-height: 50px;
    letter-spacing: 0;
  }
}

.blog_recommend {
  margin-bottom: 20px;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .blog_article_more {
    width: 500px;
    margin: 0 auto 45px;
  }
}
@media only screen and (max-width: 600px) {
  .blog_article_more {
    width: auto;
    margin: 0 12% 45px;
  }
}
@media only screen and (min-width: 1025px) {
  .blog_article_more {
    width: 920px;
    margin: 450px auto 45px;
  }
}
@media only screen and (max-width: 1024px) {
  .blog_article_more .blog_recommend_list {
    display: flex;
    width: 100%;
    height: 65px;
    margin-bottom: 15px;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    aspect-ratio: 16/9;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_info {
    width: 100%;
    background-color: #ffffff;
    padding: 7px 10px 4px;
    position: relative;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_info .blog_banner_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_info .blog_banner_writer {
    transform: scale(0.5);
    transform-origin: left top;
    height: 10px;
    width: 200%;
    position: absolute;
    bottom: 14px;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_info .blog_banner_date {
    height: 7px;
    transform: scale(0.5);
    transform-origin: left top;
    position: absolute;
    bottom: 4px;
  }
}
@media only screen and (min-width: 1025px) {
  .blog_article_more {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog_article_more .blog_recommend_list {
    display: block;
    width: calc(50% - 36px);
    height: 330px;
    margin-bottom: 60px;
    transition: opacity 0.3s;
  }
  .blog_article_more .blog_recommend_list:hover {
    opacity: 0.8;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_img {
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_info {
    width: 100%;
    height: 105px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .blog_article_more .blog_recommend_list .blog_recommend_info .blog_banner_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    padding-right: 125px;
    overflow: hidden;
    margin-bottom: 6px;
  }
}/*# sourceMappingURL=article.css.map */