main{
    margin: 0 6%;
}

.page_title_img{
    height: 32px;
    margin-top: 6vw;
}

.page_title{
    margin: 0;
}

.page_description{
    margin: 6vw 0 10vw 0;
}

.container{
    margin-bottom: 11vw;
}

h2{
    color: #FF0084;
    margin: 0 0 10px 0;
}

.description_container{
    margin-top: 15px;
    display: flex;

}

.description_bullet{
    width: 15px;
    height: 20px;
}

.description{
    margin: 0;
}

.images{
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.img_container{
    border: 1px solid #000000;
    height: max-content;
    position: relative;
}

.img_container img{
    position: relative;
    width: 100%;
    height: 100%;
}

.a-a{
    grid-column: 1/7;
    grid-row: 1/2;
}

.a-b{
    grid-column: 1/4;
    grid-row: 2/3;
}

.a-c{
    grid-column: 4/7;
    grid-row: 2/3;
}

.b-a{
    grid-column: 1/3;
    grid-row: 1/3;
}

.b-b{
    grid-column: 3/5;
    grid-row: 1/3;
}

.b-c{
    grid-column: 5/7;
    grid-row: 1/3;
}

.c-a{
    grid-column: 1/4;
    grid-row: 1/3;
}

.c-b{
    grid-column: 4/7;
    grid-row: 1/3;
}

.download_btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.download_btn img{
    width: 100%;
    height: 100%;
}

.download_list{
    position: absolute;
    width: 110px;
    height: 90px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    top: 100%;
    right: 0;
    z-index: 1000;
}

.download_list a{
    display: block;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
    text-align: right;
    margin: 7px 15px 7px 0;
}

.line::after{
    display: block;
    content: "";
    width: 90px;
    height: 1px;
    background-color: #000000;
    position: relative;
    left: 10px;
    margin: 7px 0;
}

.guideline_preview{
    margin: 0 20vw;
    border: 1px solid #000000;
    position: relative;
    background-color: #E2E7E7;
}

.guideline_preview_img{
    width: 100%;
    height: 100%;
}

.guideline_preview_text{
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    margin: 0;
    padding: 3px 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 1023px){
    .m_JP_12_Medium{
        font-family: 'Noto Sans JP';
        font-size: 12px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1024px){
    main{
        margin: 0 20vw;
    }

    .page_description{
        margin: 3vw 0 6vw 0;
    }

    h2{
        margin: 0 0 20px 0;
    }

    .description_bullet{
        width: 40px;
        height: 30px;
    }

    .description_container{
        align-items: center;
        gap: 20px;
    }

    .download_btn{
        width: 50px;
        height: 50px;
    }

    .download_list{
        width: 160px;
        height: 120px;
    }

    .download_list a{
        font-size: 16px;
    }

    .line::after{
        width: 140px;
    }

    .guideline_preview{
        margin: 0 15vw;
    }

    .guideline_preview_text{
        font-size: 24px;
        padding: 5px 12px;
    }
}