main{
    margin: 0 6%;
}

.page_title_img{
    height: 32px;
    margin-top: 6vw;
}

.page_title{
    margin: 0;
}

.page_description{
    margin: 6vw 0 10vw 0;
}

.container{
    margin-bottom: 11vw;
}

h2{
    color: #FF0084;
    margin: 0 0 10px 0;
}

.description_container{
    margin-top: 15px;
    display: flex;

}

.description_bullet{
    width: 15px;
    height: 20px;
}

.description{
    margin: 0;
}

.images{
    background-color: #FFFFFF;
}

.img_container{
    border: 1px solid #000000;
}

.img_container img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1023px){
    .m_JP_12_Medium{
        font-family: 'Noto Sans JP';
        font-size: 12px;
        font-weight: 500;
    }
}