@media screen and (max-width: 1023px) {
      .desktop_only{
            display: none;
      }
      .main{
            padding: 0;
      }
      .title{
            margin: 0;
            height: 55px;
            padding-left: 11%;
            color: #FF0084;
      }
      .title_txt{
            padding-top: 20px;
      }
      }
      .title2{
            width: 56px;
            height: 20px;
            padding-left: 11%;
            margin-top: 0;
            padding-bottom: 127.63px;
            padding-top: 0; 
            color: #fff;
      }
      .top{
            background-image: url(/2024/access/img/image1.webp);
            background-size: cover;
            background-position: center;
            width: 100%;
            margin-bottom: -2.7%;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      }
      
      .rectangle70{
            position: relative;
            z-index: 1;
            margin-bottom:30px;
      }
      .info{
            margin: auto;
            width: 280px;
            text-align: left;
            padding-top: 0.37px;
            display: grid;
            grid-template-columns: minmax(auto, 320px);
      }
      .info_text{
            width: 280px;
            height: 40px;
            text-align: center;
            padding: 10px, 0px, 10px, 0px;
      }
      .info_text2{
            width: 280px;
            height: 50px;
            border-top: 1px solid #FF0084;
            border-bottom: 1px solid #FF0084;
            display: flex;
            padding-left: 8px;
            box-sizing: border-box;
      }
      .tx1_1{
            display: flex;
            align-items: center;
      }
      .tx1{
            margin-top: -1.5px;
            margin-left: 35px;
            padding-top:3px;
      }
      .tx2{
            margin-left: 24px;
      }
      .tx3{
            margin-left: 24px;
      }
      .info_text3{
            padding-top:-10px;
            width: 280px;
            height: 40px;
            border-bottom: 1px solid #FF0084;
            box-sizing: border-box;
            display: flex;
            padding-left: 8px;
            align-items: center;
      }
      .info_text4{
            width: 280px;
            height: 40px;
            box-sizing: border-box;
            display: flex;
            padding-left: 8px;
            margin-bottom: 43px;
            align-items: center;
      }
      .lapper{
            aspect-ratio: 16/9;
            margin:auto;
            width:80%;
            border: 1px solid #FF0084;
      }
      .map_text{
            margin-left:10%;
            width: 280px;
            height: 47px;
      }
      .bus{
            padding-top: 28px;
      }
      .rechead{
            display: flex;
      }
      .rectangle30{
            margin-left: 22px;
            height: 30px;
            width: 4px;
            background-color: #FF0084;
      }
      .head_text{
            margin-top: 0;
            margin-bottom: 80px;
            height: 30px;
            padding-left: 12px;
      }
      .rectangle66{
            margin: auto;
            width: 80%;
            aspect-ratio: 100/100;
            background-image: url(/2024/access/img/image3.webp);
            background-repeat: no-repeat;
            margin-top: 22px;
            background-size: contain;
            margin: auto;
      }
      .routemap{
            margin-top: 40px;
            margin-bottom:40px;

      }
      .routemap_img{
            margin: auto;
            width: 80%;
            aspect-ratio: 141/100;
            background-size: cover;
            background-image: url(/2024/access/img/image2.webp);
      }
@media screen and (min-width: 1024px) { 
      .mobile_only{
            display: none;
      }
      .main{
            padding: 0;
      }
      .title{
            margin: 0;
            height: 120px;
            padding-left: 11%;
            color: #FF0084;
      }
      .title_txt{
            padding-top: 30px;
            height: 80px;
      }
      .title2{
            width: 100px;
            height: 30px;
            padding-bottom: 127.63px;
            padding-top: 0; 
            color: #fff;
      }
      .top{
            background-image: url(/2024/access/img/image1.webp);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 540px;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      }
      .rectangle70{
            position: relative;
            z-index: 1;
            margin-bottom:30px;
      }
      .info{
            width: 80vw;
            background: none;
            margin: auto;
            text-align: left;
            padding-top: 0.37px;
            display: grid;
            grid-template-columns: minmax(auto, 320px);
      }
      .info a{
            color: #000;
            text-decoration: none;
      }
      .tx0{
            margin: 0;
            padding-top: 15px;
      }
      .info_text{
            margin: auto;
            margin-top: 30px;
            width: 80vw;
            height: 100px;
            text-align: center;
            border-bottom: 1px solid #FF0084;
      }
      .info_text2{
            margin: auto;
            width: 80vw;
            height: 118px;
            border-bottom: 1px solid #FF0084;
            display: flex;
            padding-left: 30px;
            box-sizing: border-box;
      }
      .info_text3{
            margin: auto;
            width: 80vw;
            height: 118px;
            border-bottom: 1px solid #FF0084;
            display: flex;
            padding-left: 30px;
            box-sizing: border-box;
      }
      .info_text4{
            margin: auto;
            width: 80vw;
            height: 118px;
            border-bottom: 1px solid #FF0084;
            display: flex;
            padding-left: 30px;
            box-sizing: border-box;
      }
      .tx1_1{
            display: flex;
            align-items: center;
      }
      .tx1{
            margin-top: 24px;
            margin-left: 144px;
      }
      .tx2{
            margin-left: 112px;
      }
      .tx3{
            margin-left: 119px;
      }
      .map_containner{
            margin: auto;
            width: 80vw;
            display: flex;
            margin-top: 100px;
      }
      .lapper{
            margin: auto;
            padding: 0;
            width: 53.5%;
      }
      .map{
            width: 100%;
            margin-left: 0;
      }
      .map_text{
            margin: auto;
            top: 50%;
      }
      .map_text p{
            margin-top: -24px;
      }
      .bus{
            margin: auto;
            width: 77vw;
      }
      .rechead{
            margin-top: 160px;
      }
      .rectangle30{
            width: 8px;
            height: 64px;
      }
      .rectangle66{
            margin: auto;
            width: 55vw;
            aspect-ratio: 100/100;
            background-image: url(/2024/access/img/image3.webp);
            background-repeat: no-repeat;
            margin-top: 22px;
            background-size: contain;
            margin: auto;
      }
      .routemap{
            margin: auto;
            width: 77vw;
            margin-bottom: 200px;
      }
      .routemap_img{
            margin: auto;
            width: 56.875vw;
            height: auto;
            background-image: url(/2024/access/img/image2.webp);
            margin-top: 22px;
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
      }
}