@charset "UTF-8";

body{
    margin: 0;
    height: 5000px;
}

header{
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    height: 60px;
    background-color: transparent;
    z-index: 15;
    top: 0;
    left: 0;
}

.logo{
    width: 200px;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p::before, .logo p::after{
    content: "⭐";
}

.aligin_left{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transform: translateX(-70px);
}

.aligin_left_content{
    display: flex;
    align-items: center;
    gap: 100px;
}

.menu{
    display: flex;
    gap: 100px;
    margin: 0;
    margin-left: 200px;
}

.menu_content{
    display: block;
    font-size: 16px;
    font-weight: Bold;
    color: #000;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.menuDiv{
    margin: 0;
    position: relative;
    width: 70px;
    height: 24px;
}

/*after要素で下線部分を作る*/
.menuDiv::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;/*下線の太さ*/
    background-color: #000;/*下線の色*/
    transform: translateY(24px);
    transition: all 0.3s ease;/*アニメーション時間*/
}

/*カーソルが載ったときafter要素を表示*/
.menuDiv:hover:after{
    width: 70px;
    transform: translateY(24px);
}

.menu_btn{
    margin: 0;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.menu_btn_open{
    transform: scale(0.3) translate(-115px, -117px);
    opacity: 1;
    z-index: 0;
}

.menu_btn_close{
    transform: scale(0.3) translate(-115px, -475px);
    opacity: 0;
    z-index: 0; 
}

.menu_large{
    transform: scaleY(0);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    transform-origin: top;
    transition: all 0.3s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_large_content{
    display: inline-block;
    font-size: 100px;
}

.more_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 192px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #000;
    border-radius: 15px;
    transition: background-color 0.2s ease-out;
}

.More{
    display: inline-block;
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: #FF0084;
}

.more_btn_arrows{
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-out;
}

.arrow{
    width: 10px;
    height: 10px;
    border-top: 1px solid #FF0084;
    border-left: 1px solid #FF0084;
    transform: rotate(135deg);
    transition: all 0.2s ease-out;
}

.more_btn:hover{
    background-color: #FF0084;
}

.more_btn:hover .More{
    color: #000;
}

.more_btn:hover .more_btn_arrows{
    transform: translateX(20px);
}

.more_btn:hover .arrow{
    border-color: #000;
    transform: rotate(135deg);
    left: 10px;
}