html,
body {
  font-family: "Noto Sans JP", sans-serif;
}

main p {
  margin: 0;
}

main img {
  display: block;
}

#title_img {
  margin: 20px 0 0 20px;
  height: 32px;
  display: block;
}

#title_txt {
  font-weight: 400;
  font-size: 14px;
  margin: 0px auto 0px 20px;
}

#buttons {
  margin: 0px;
  position: relative;
}

#day_button_pc {
  visibility: hidden;
  top: 5.55vw;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

#day1_button_pc,
#day2_button_pc {
  cursor: pointer;
  position: relative;
}

#day2_button_pc .day_color {
  opacity: 0;
}

#day1_button_pc img,
#day2_button_pc img {
  height: 9.65vw;
}

#day1_button_pc p,
#day2_button_pc p {
  font-weight: 500;
  font-size: 1.66vw;
  margin-left: 9.3vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#day_button {
  top: 75px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

#day1_button {
  cursor: pointer;
  position: relative;
}

#day2_button {
  cursor: pointer;
  position: relative;
  margin-left: 8px;
}

.day_color {
  position: absolute;
  transition: opacity 0.15s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.day_mono {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#day2_button .day_color {
  opacity: 0;
}

#day1_button p,
#day2_button p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#arrow {
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  color: #ff0084;
  display: flex;
  position: absolute;
  margin: 54px 0 0 0;
}

#arrow p {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 4;
  padding: 15px;
  transition: padding 0.1s;
}

#left_arrow {
  margin: 0 0 0 9px;
}

#left_arrow:active {
  padding: 15px 20px 15px 10px;
}

#right_arrow {
  margin: 0 9px 0 auto;
}

#right_arrow:active {
  padding: 15px 10px 15px 20px;
}

#time_table_title {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#time_table_title_box {
  width: 220px;
}

.slide_title_ph {
  display: flex;
  justify-content: center;
}

.slide_title_ph_txt {
  font-weight: 500;
  font-size: 24px;
  color: #ff0084;
}

.slide_title_ph_wth {
  font-weight: 500;
  font-size: 14px;
  color: #ff0084;
  margin-top: 13px;
}

#time_table {
  margin: 105px 19px 0 21px;
}

.slide_element {
  position: relative;
  height: 1067px;
}

.table_scale {
  position: absolute;
  margin: 0;
  top: calc(128px * var(--time_index));
  font-weight: 500;
  font-size: 16px;
}

.table_scale2 {
  position: absolute;
  top: calc(128px * (var(--offset_val) - 540) / 60 + 3px);
  left: 66px;
  font-weight: 500;
  font-size: 12px;
}

.table_border {
  position: absolute;
  top: calc(12px + 64px * var(--border_index));
  left: 0;
  right: 0;
  margin-left: 40px;
  height: 1.5px;
  background-image: linear-gradient(to right, #000 14px, transparent 14px);
  background-size: 28px 2px;
  opacity: 30%;
}

.table_element {
  position: absolute;
  top: calc(12px + 128px * (var(--start_h) + var(--start_m) / 60 - 9));
  left: 0;
  right: 0;
  margin: 0 20px 0 60px;
  height: calc(128px * (var(--end_h) + var(--end_m) / 60 - (var(--start_h) + var(--start_m) / 60)));
  display: flex;
  transition: opacity 0.15s ease-out;
}

.day2 {
  opacity: 0;
}

.table_element.day1 {
  cursor: pointer;
}

.table_element_content {
  position: absolute;
  z-index: 3;
  cursor: default;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.mouse_over {
  cursor: pointer;
}

.table_element_content_box {
  margin-left: 40px;
}

.table_element_content_box > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 16.5px;
}

.table_ticket_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 64px;
  margin: 5px 0 0 0;
}

.table_ticket_box img {
  position: absolute;
  width: 100%;
}

.table_ticket_box p {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  z-index: 2;
}

.table_element_content > img {
  display: block;
  height: 32px;
  margin: 0 20px 0 auto;
}

.table_element_bar {
  width: 6px;
  height: 100%;
  background-color: var(--color);
}

.table_element_back {
  background-color: var(--color);
  height: calc(100% - var(--padding_top) - var(--padding_bottom));
  width: calc(100% - 6px);
  margin: var(--padding_top) 0 var(--padding_bottom) 0;
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
}

#rain_guide {
  margin: 60px 20px 40px 20px;
  border: 2px solid #ff0084;
}

#ticket_guide {
  margin: 0 20px 80px 20px;
  border: 2px solid #ff0084;
}

.guide_box {
  display: flex;
}

.guide_box img {
  height: 32px;
  margin: 8px 0 0 8px;
}

.guide_box p {
  margin: 9px 0 0 20px;
  font-weight: 500;
  font-size: 20px;
}

#rain_guide > p,
#ticket_guide > p {
  margin: 12px 10px 8px 10px;
  font-weight: 500;
  font-size: 14.5px;
}

#return_button {
  cursor: pointer;
  margin: 20px 0 0 20px;
}

#title2 {
  margin: 20px 0 40px 20px;
  display: flex;
}

#title2_bar {
  margin: 0;
  display: block;
}

#title2_txt {
  margin: 0 0 0 12px;
  font-weight: 500;
  font-size: 28px;
}

#announce_rain {
  margin: 0 20px 40px 20px;
  border: 2px solid #ff0084;
}

#announce1 {
  margin: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28.96px;
  color: #ff0084;
}

#announce2 {
  margin: 0 20px 20px 20px;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 20.27px;
}

#events_list {
  margin-bottom: 80px;
  transition: margin-bottom 0.15s ease-in-out;
}

.events_acc {
  margin: 20px 20px 0 20px;
  background-color: rgba(255, 0, 132, 0.15);
  position: relative;
}

.acc_button_img {
  margin: 17px 0 0 10px;
  position: absolute;
  transition: 0.15s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.acc_open .acc_button_img {
  margin: 17px 0 0 10px;
  position: absolute;
  transform: rotate(90deg);
  transition: 0.15s ease-in-out;
}

.acc_button_img_pc {
  position: absolute;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.acc_title {
  margin: 0;
  padding: 8px 0 0 32px;
  font-weight: 500;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.acc_button {
  cursor: pointer;
}

.acc_box {
  height: 0;
  overflow: hidden;
  transition: 0.15s ease-in-out;
}

.location {
  margin: 0 0 20px 32px;
  position: relative;
}

.location img {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.location p {
  margin-left: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.17px;
}

.event_summary {
  padding: 0 10px 32px 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20.27px;
}

.box_space {
  height: 9px;
}

.ticket_space {
  margin: 4px 0 0 32px;
  height: 28px;
}

.ticket_box {
  position: relative;
  width: 64px;
  display: flex;
  justify-content: center;
}

.ticket_box p {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.ticket_box img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#event_list_link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: #ff0084;
  margin: 10px 0 0 20px;
  width: 170px;
}

@media screen and (min-width: 1024px) {
  #title_img {
    margin: 2.77vw 0 0 11.11vw;
    height: 5.27vw;
  }
  #title_txt {
    font-weight: 500;
    font-size: 2.77vw;
    margin: 0 auto 0 11.11vw;
  }
  #day_button {
    visibility: hidden;
  }
  #day_button_pc {
    visibility: visible;
  }
  #arrow {
    visibility: hidden;
  }
  #time_table_title {
    position: absolute;
  }
  #time_table {
    margin: 20.41vw 6.94vw 0 6.94vw;
  }
  .slide_element {
    height: 147vw;
  }
  .slide_title_pc {
    position: absolute;
    top: 0.9vw;
    display: flex;
    justify-content: center;
    width: 36.11vw;
  }
  .slide_title_pc.table_element_left {
    left: 11.11vw;
  }
  .slide_title_pc.table_element_right {
    left: 50vw;
  }
  .slide_title_pc_txt {
    font-weight: 500;
    font-size: 4.44vw;
    color: #ff0084;
  }
  .slide_title_pc_wth {
    margin-top: 2.84vw;
    font-weight: 500;
    font-size: 2.22vw;
    color: #ff0084;
  }
  .table_scale {
    top: calc(6.31vw + 16.66vw * var(--time_index));
    left: 1.11vw;
    font-size: 2.77vw;
  }
  .table_scale2 {
    top: calc(7.28vw + 16.66vw * (var(--offset_val) - 540) / 60);
    left: 11.11vw;
    padding-left: 0.55vw;
    font-size: 1.38vw;
  }
  .table_border {
    top: calc(8.33vw + 8.33vw * var(--border_index));
    margin-left: 8.33vw;
    height: 2px;
    background-image: linear-gradient(to right, #000 1.38vw, transparent 1.38vw);
    background-size: 2.76vw 5px;
  }
  .table_element {
    top: calc(8.33vw + 16.66vw * (var(--start_h) + var(--start_m) / 60 - 9));
    margin: 0 38.88vw 0 11.11vw;
    height: calc(16.66vw * (var(--end_h) + var(--end_m) / 60 - (var(--start_h) + var(--start_m) / 60)));
  }
  .table_element_right {
    margin: 0;
    left: 50vw;
  }
  .table_element_content_box {
    margin-left: 6.11vw;
  }
  .table_element_content_box > p {
    font-size: 1.5vw;
    line-height: 2.41vw;
  }
  .table_ticket_box {
    width: 6.5vw;
    margin: 0.5vw 0 0 0;
  }
  .table_ticket_box p {
    font-size: 1.2vw;
  }
  .table_element_content > img {
    height: min(100% - 0.5vw, 4.44vw);
    margin: 0 2.77vw 0 auto;
  }
  .table_element_bar {
    width: 0.55vw;
  }
  .table_element_back {
    height: calc(100% - var(--padding_top) - var(--padding_bottom));
    width: calc(100% - 0.55vw);
    margin: var(--padding_top) 0 var(--padding_bottom) 0;
  }
  #rain_guide {
    margin: 11.87vw 11.11vw 8.33vw 11.11vw;
    border: 4px solid #ff0084;
  }
  #ticket_guide {
    margin: 0 11.11vw 13.88vw 11.11vw;
    border: 4px solid #ff0084;
  }
  .guide_box img {
    height: 4.44vw;
    margin: 2.77vw 0 0 2.77vw;
  }
  .guide_box p {
    margin: 2.77vw 0 0 2.77vw;
    font-size: 2.77vw;
  }
  #rain_guide > p,
  #ticket_guide > p {
    margin: 2.77vw 6.94vw 2.77vw 10vw;
    font-size: 2.22vw;
  }
  #event_list_link {
    margin: 0 0 0 11.11vw;
    font-size: 2.22vw;
    width: 23vw;
  }
  #return_button {
    margin: 6.94vw 0 0 6.94vw;
    height: 8.33vw;
  }
  #title2 {
    margin: 2.77vw 0 5.55vw 11.11vw;
  }
  #title2_bar {
    height: 6.8vw;
  }
  #title2_txt {
    margin: 0 0 0 2.63vw;
    font-weight: 500;
    font-size: 4.44vw;
  }
  #announce_rain {
    margin: 0 11.11vw 11.11vw 11.11vw;
    border: 4px solid #ff0084;
  }
  #announce1 {
    margin: 2.77vw;
    font-size: 3.33vw;
    line-height: 4.82vw;
  }
  #announce2 {
    margin: 0 2.77vw 2.77vw 2.77vw;
    font-size: 2.5vw;
    line-height: 3.62vw;
  }
  #events_list {
    margin-bottom: 13.88vw;
  }
  .events_acc {
    margin: 2.77vw 11.11vw 0 11.11vw;
  }
  .acc_button_img_pc {
    visibility: visible;
    margin: 2.77vw 0 0 2.77vw;
    height: 2.77vw;
    position: absolute;
    transition: 0.15s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .acc_open .acc_button_img_pc {
    margin: 2.77vw 0 0 2.77vw;
    position: absolute;
    transform: rotate(90deg);
    transition: 0.15s ease-in-out;
  }
  .acc_button_img {
    visibility: hidden;
  }
  .acc_title {
    padding: 2.15vw 0 2.15vw 8.33vw;
    font-weight: 500;
    font-size: 2.77vw;
  }
  .location {
    margin: 0 0 20px 32px;
  }
  .ticket_space {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
  }
  .ticket_box {
    position: relative;
    width: 11.66vw;
    margin: 2.5vw 5.55vw 0 auto;
    display: flex;
    justify-content: center;
  }
  .ticket_box p {
    font-size: 2.22vw;
  }
  .ticket_box img {
    width: 11.66vw;
  }
  .box_space {
    height: 0.76vw;
  }
  .event_summary {
    padding: 0 6.33vw 2.77vw 6.33vw;
    font-size: 1.63vw;
    line-height: 2.41vw;
  }
  .location {
    margin: 0;
  }
  .location_day1 {
    margin: 0 0 2.77vw 0;
    width: 33.66vw;
  }
  .location_day2 {
    margin: 0 0 2.77vw 0;
  }
  .location img {
    height: 3.33vw;
  }
  .location p {
    margin: 0;
    padding: 1.25vw 0 0 6.11vw;
    font-size: 1.66vw;
    line-height: 2.41vw;
  }
  .locations {
    margin: 0 0 0 6.33vw;
    display: flex;
  }
}/*# sourceMappingURL=event.css.map */