#main_container {
  margin: 0;
  width: 200%;
  display: flex;
  transition: transform 0.3s ease-in-out;
  font-family: "Noto Sans JP", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

p {
  margin: 0;
}

img {
  display: block;
}

#screen1 {
  margin: 0px;
  width: 50%;
  overflow: hidden;
  position: relative;
}

#title_img {
  margin-left: 20px;
  margin-top: 20px;
  display: block;
}

#title_txt {
  font-weight: 400;
  font-size: 14px;
  margin: 0px auto 0px 20px;
}

#buttons {
  margin: 0px;
  position: relative;
}

#day_button {
  top: 75px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

#day1_button {
  cursor: pointer;
  position: relative;
}

#day2_button {
  cursor: pointer;
  position: relative;
  margin-left: 8px;
}

.day_color {
  position: absolute;
  transition: opacity 0.15s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.day_mono {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#day2_button .day_color {
  opacity: 0%;
}

#day1_button p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#day2_button p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#arrow {
  font-weight: 500;
  font-size: 32px;
  color: #ff0084;
  display: flex;
  padding: 68px 24px 0px 24px;
}

#left_arrow {
  cursor: pointer;
  margin: 0px;
  z-index: 4;
}

#right_arrow {
  cursor: pointer;
  margin: 0px 0px 0px auto;
  z-index: 4;
}

#screen2 {
  margin: 0;
  width: 50%;
  overflow: hidden;
}

#return_button {
  cursor: pointer;
  margin: 20px 0 0 20px;
}

#title2 {
  margin: 20px 0 40px 20px;
  display: flex;
}

#title2_bar {
  margin: 0;
  display: block;
}

#title2_txt {
  margin: 0 0 0 12px;
  font-weight: 500;
  font-size: 28px;
}

#announce_rain {
  margin: 0 20px 40px 20px;
  border: 2px solid #ff0084;
}

#announce1 {
  margin: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28.96px;
  color: #ff0084;
}

#announce2 {
  margin: 0 20px 20px 20px;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 20.27px;
}

#events_list {
  margin-bottom: 80px;
  transition: margin-bottom 0.15s ease-in-out;
}

.events_acc {
  margin: 20px 20px 0 20px;
  background-color: rgba(255, 0, 132, 0.15);
  position: relative;
}

.acc_button_img {
  margin: 17px 0 0 10px;
  position: absolute;
  transition: 0.15s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.acc_open .acc_button_img {
  margin: 17px 0 0 10px;
  position: absolute;
  transform: rotate(90deg);
  transition: 0.15s ease-in-out;
}

.acc_title {
  margin: 0;
  padding: 8px 0 0 32px;
  font-weight: 500;
  font-size: 20px;
}

.acc_button {
  cursor: pointer;
}

.acc_box {
  height: 0;
  overflow: hidden;
  transition: 0.15s ease-in-out;
}

.location {
  margin: 0 0 20px 32px;
  position: relative;
}

.location img {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.location p {
  margin-left: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.17px;
}

.event_summary {
  padding: 0 10px 32px 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20.27px;
}

.box_space {
  height: 9px;
}

.ticket_space {
  margin: 4px 0 0 32px;
  height: 28px;
}

.ticket_box {
  position: relative;
  width: 64px;
  display: flex;
  justify-content: center;
}

.ticket_box p {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  position: relative;
}

.ticket_box img {
  position: absolute;
  top: 0;
  left: 0;
}/*# sourceMappingURL=event.css.map */