main{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:1450px){
    .mobile.number {
        width: 99px;
        height: 49px;
            border: 1px solid;
        line-height: 49.1px;
        color: #FFFFFF;
        text-shadow:
            1px 1px 0px rgba(255, 0, 132, 1), -1px -1px 0px rgba(255, 0, 132, 1),
            -1px 1px 0px rgba(255, 0, 132, 1),  1px -1px 0px rgba(255, 0, 132, 1),
            1px 0px 0px rgba(255, 0, 132, 1), -1px  0px 0px rgba(255, 0, 132, 1),
            0px 1px 0px rgba(255, 0, 132, 1),  0px -1px 0px rgba(255, 0, 132, 1);
    }

    .mobile.left.number{
        position:absolute;
        margin-top: 0px;
    }
    .mobile.right.number{
        position:absolute;
        margin-top: 0px;
        margin-left: 180px;
    }
    .mobile.stock{
        width: 64px; 
        height: 20px; 
        padding: 1px 8px 1px 8px;
        
        border-radius: 4px 0px 4px 0px;
        opacity: 0px;
        position:absolute;
        background: rgba(255, 0, 132, 1);
    }
    .mobile.stock-inner{
        width: 48px;
        height: 17px;
        gap: 0px;
        opacity: 0px;
        line-height: 17.38px;
        color: rgba(255, 255, 255, 1);
        position: absolute;
        margin-top: 1.5px;
        margin-left: 8px;
    }

    .mobile.picture{
        width:140px;
        height:100px;
        border-radius: 4px;
    }


    .mobile.goods-name{
        width: 140px;
        height: 20px;
        position: absolute;
        margin-top: -2px;
        line-height: 20.27px;
        color:  rgba(0, 0, 0, 1);
    }

    .mobile.money{
        width:120px;
        height: 29px;
        position: absolute;
        margin-top: 12px;
        position:absolute;
        margin-left: 42px;
        color: rgba(255, 0, 132, 1);

    }
    .mobile.price{
        line-height: 28.96px;
    }
    .mobile.tax{
        line-height: 23.17px;
    }
    .mobile.detail{
        line-height: 17.38px;
        color: rgba(0, 0, 0, 1);
        width: 69px;
        height: 17px;
        position:absolute;
        margin-top: 214px;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        
    }
    .mobile.left.detail{
        margin-left: 71px;
    }
    .mobile.right.detail{
        margin-left: 251px;
    }

    .mobile.flame{
        position: absolute;
        width: 320px;
        height: 251px;
        left: calc(50% - 160px);
        border-bottom: 1px solid rgba(255, 0, 132, 1);
    }
    .mobile.no12.flame{
        position: absolute;
        margin-top: 124px;
    }
    .mobile.no34.flame{
        position: absolute;
        margin-top: 395px;
    }
    .mobile.no56.flame{
        position: absolute;
        margin-top: 666px;
    }
    .mobile.no78.flame{
        position: absolute;
        margin-top: 937px;
    }
    .mobile.container{
        width: 140px;
        height: 157px;
        position:absolute;
        margin-top: 49px;
    }
    .mobile.right.container{
        margin-left: 180px;
    }



    .mobile.box {
        background: url("Shivercrop_0-00-23-27_2.png");
        background-repeat: repeat-y;
        width: 100%;
        height: 1362px;
        margin-top: -2px;
        margin-bottom: 62px;
        position: relative;
    }

    .mobile.relative{
        position: relative;
    }
    .mobile.about-stock-box{
        position: absolute;
        margin-top: 1216px;
        margin-left: 20px;
        width: 108px;
        height: 28px;
    }
    .mobile.about-stock-bar{
        position: absolute;
        background: rgba(255, 0, 132, 1);
        width: 4px;
        height: 28px;
    }
    .mobile.about-stock-title{
        position: absolute;
        margin-left: 12px;
        margin-top: 2.5px;
        color: rgba(0, 0, 0, 1);
        line-height: 23.17px;
        width: 96px;
        height: 23px;
    }
    .mobile.about-stock-paragraph{
        line-height: 20px;
        color: rgba(0, 0, 0, 1);
        height: 80px;
        position: absolute;
        margin: 1266px 20px 0 20px;
    }
    .pc{
        display: none;
    }
}
    
@media only screen and (max-width:359px){
    .left{
        left: 3%;
    }

    .right.container,.right.detail{
        right: 3%;
    }

    .right.number{
        transform: translateX(-3vw);
    }
}

.PC_title_img{
    position: absolute;
    left:0;
    margin-top:140px;
    width:400px;
}
.m_title_img{
    position: absolute;
    left:0;
    margin-top:30px;
    width:200px;
}
.m_title_text{
    position: absolute;
    left:0;
    margin-top:80px;
    width:200px;
}
.PC_title_text{
    position: absolute;
    left:0;
    margin-top:240px;
    width:200px;
}

@media (min-width: 1451px){
    .mobile{
        display: none;
    }
    .m_title_img{
        display: none;
    }
    .m_title_text{
        display: none;
    }
}

.pc.box{
    position: relative;
    width: 1440px;
    height: 2739px;
    margin-top:-96px;
}
    .pc.container{
        position: absolute;
        width: 1120px;
        height: 560px;
        margin-left: 160px;
    }
    .pc.no123.container{
        margin-top: 354px;
    }
    .pc.no456.container{
        margin-top: 989px;
    }
    .pc.no78.container{
        margin-top: 1624px;
    }

    .pc.flame{
        position: absolute;
        width: 336px;
        height: 560px;
        border-bottom: 2px solid rgba(255, 0, 132, 1);
    }
    
    .pc.flame.middle{
        margin-left: 392px;
    }
    .pc.flame.right{
        margin-left: 784px;
    }
    .pc.number{
        position: absolute;
        width: 197px;
        height: 98px;
        transform: translateY(-80px);
        border: 2px solid;
        line-height: 98.12px;
        color: #FFFFFF;
        text-shadow:
            2px 2px 0px rgba(255, 0, 132, 1), -2px -2px 0px rgba(255, 0, 132, 1),
            -2px 2px 0px rgba(255, 0, 132, 1),  2px -2px 0px rgba(255, 0, 132, 1),
            2px 0px 0px rgba(255, 0, 132, 1), -2px  0px 0px rgba(255, 0, 132, 1),
            0px 2px 0px rgba(255, 0, 132, 1),  0px -2px 0px rgba(255, 0, 132, 1);
    }




    .pc.stock{
        position: absolute;
        width: 176px;
        height: 51px;
        margin-top: 98px;
        padding: 4px 8px 4px 8px;
        border-radius: 20px 0px 20px 0px;
        background-color: rgba(255, 0, 132, 1);
    }
    .pc.stock-inner{
        position: absolute;
        width: 128px;
        height: 46px;
        margin-top: 2.5px;
        margin-left: 24px;
        line-height: 46.34px;
        color: rgba(255, 255, 255, 1);
    }
    .pc.picture{
        position: absolute;
        width: 336px;
        height: 240px;
        margin-top: 98px;
        border-radius: 20px 20px 0px 0px;
    }
    .pc.goods-name{
        position: absolute;
        width: 336px;
        height: 46px;
        margin-top: 338px;
        line-height: 46.34px;
        color: rgba(0, 0, 0, 1);
    }
    .pc.money{
        position: absolute;
        width: 300px;
        height: 58px;
        margin-top: 384px;
        margin-left: 139px;
        color: rgba(255, 0, 132, 1);
    }
    .pc.price{
        line-height: 57.92px;
    }
    .pc.tax{
        line-height: 46.34px;
    }
    .pc.detail{
        position: absolute;
        width: 138px;
        height: 35px;
        margin-top: 482px;
        margin-left: 197px;
        line-height: 34.75px;
        color: rgba(0, 0, 0, 1);
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    .pc.about-stock-box{
        position: absolute;
        margin-top: 2304px;
        margin-left: 160px;
        width: 319px;
        height: 67px;
    }
    .pc.about-stock-bar{
        position: absolute;
        background: rgba(255, 0, 132, 1);
        width: 12px;
        height: 64px;
    }
    .pc.about-stock-title{
        position: absolute;
        margin-left: 32px;
        margin-top: -3px;
        color: rgba(0, 0, 0, 1);
        line-height: 69.5px;
        width: 287px;
        height: 70px;
    }
    .pc.about-stock-paragraph{
        line-height: 64px;
        color: rgba(0, 0, 0, 1);
        height: 128px;
        position: absolute;
        margin-top: 2411px ;
        margin-left: 160px;
    }


    