@charset "UTF-8";
@media screen and (max-width:1023px){
    .Topic{
    
        color:#FF0084;
       width: 240px;
       height:55px;
       top:0px;
       left:20px;
   }
   .main_topic{
 
       height:auto;
       width: auto;
       margin-left:auto;
       margin-right:auto;
       gap: 16px;
   }
   .Top_consultation{
 
       line-height: 23.17px;
   }
   .Top_explanation{
       
       line-height: 17.38px;
   }
   .contact_SNS{
       
       border: 2px;
       border-color: #FF0084;
       padding:4px;
       gap:4px;
   }
   .contact_SNS_main{
      
       margin-left: auto;
       margin-left: auto;
       display:flex;
       align-items: center;
       border:0px,0px,1px,0px;
       border-color: #FF0084;
       gap: 8px;
   }
   .contact_speech{
    
       width:24px;
       height: auto;
   }
   .contact_SNS_Top{
  
     
       line-height: 20.27px;
   }
   .contact_SNS_Sub{
   
      
       line-height: 17.38px;
   }
  
    .contact_SNS_X{
        gap: 8px;
    }
    .contact_SNS_Instagram{
        gap:8px;
    }
    
    .logo_SNS{
        vertical-align: middle;
        float:left;
        display: flex;
    }
    .logo_link{
        vertical-align: middle;
        float:left;
        display: flex;
    }
    .X_titile{
        vertical-align: middle;
        float:left;
        display: flex;

    }
    .instagram_titile{
        vertical-align: middle;
        float:left;
        display: flex;
    }


   .form_explanation{
       
       line-height: 23.17px;
   }
   .form_item{
  
       gap:8px;
   }
   .form_content{

     
       color: #FF0084;
       opacity: 0.2;
   }
   .name{
  
       
       line-height: 17.38px;
   }
   .form_massage{
    
 
       color: #FF0084;
       opacity: 0.2;
   }
   .form_transmit{
    display:inline-block;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
    padding: 7px 28px;
    background: #FF0084;
    color:#ffffff;
    line-height: 17.38px;
    transition: 0.3s;
    border:0px;


   }
    
}

.red{
    color:#FF0084;
}
