.special_top_title{ /*ページのタイトル画像*/
    margin-top: 20px;
    margin-left: 20px;
    width:140px;
    vertical-align: top;
}

.special_top_jp{ /*ページのタイトル日本語*/
    margin-left: 20px;
    line-height: 0px;
    margin-bottom: 20px;
}

.Top_explanation{ /*ページの説明文*/
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.logouse_text{ /*ロゴ使用許諾のテキスト*/
    margin-right: 20px;
    margin-top: 0px;
}

ul{ /*禁止事項位置*/
    margin-left: 20px;
    padding-left: 20px;
}

.element_heading{ /*各要素の見出し*/
    margin-left: 20px;
    color:#FF0084;
}

/*rec系は'ロゴの使用について'行*/
.rectangle30{
    height: 30px;
    width: 4px;
    background-color: #FF0084;
}

.rechead{
    display: flex;
}

.rechetext{
    margin-top: 0;
    height: 30px;
    padding-left: 12px;
}

.recuse{
    margin-left: 20px;
}

.symbol_top_text{ /*symbol markの見出しテキスト*/
    margin-left: 20px;
}