@charset "UTF-8";
.dl_button{
    float:right;
    background-color: #FF0084;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 0px;
    margin-top:7px;
}
.dl_button_img{
    float:right;
    padding-right: 5px;
    width:25px;
}
.sixty_pamphlet_downloads{
    float:right;
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 3px;
    color:white;
    font-family: 'Noto Sans JP';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
@media screen and (max-width:1023px){

    .downloads_top_title{
        margin-top: 20px;
        margin-left: 20px;
        height:30px;
        vertical-align: top;
    }
    .downloads_top{
        margin-left: 20px;
        line-height: 0px;
    }
    .Top_explanation{
        margin: 60px 20px 0px 20px;
    }   
    .underline_pamphlet{
        margin-right: 10px;
        margin-left: 0px;
        padding-bottom: 1px;
        background-image: url("img/underline_xheader.png");
        background-repeat: no-repeat;
        background-size:110% 20px;
        background-position: 20px 15px;
    }
    .element_heading{
        margin-left: 28px;
        color:#FF0084;
    }
    .pamphlet_explanation{
        margin-left:20px;
        margin-right:30px;
        margin-top: 0px;
    }
    .sixty_pamphlet{
        float: left;
        margin-left: 40px;
        color:#FF0084;
        margin-bottom: 60px;
    }
    .dl_button{
        float:right;
        background-color: #FF0084;
        border-radius: 5px;
        margin-right: 30px;
        margin-left: 0px;
        margin-top:7px;
        height:25px;
    }
    .dl_button_img{
        float:right;
        padding-right: 5px;
        width:25px;
        height:25px;
    }
    .sixty_pamphlet_downloads{
        float:right;
        padding-right: 5px;
        padding-left: 10px;
        margin-top: 3px;
        color:white;
        font-family: 'Noto Sans JP';
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .underline_club_magazine{
        margin-right: 10px;
        padding-bottom: 1px;
        background-image: url("img/underline_logotheme.png");
        background-repeat: no-repeat;
        background-size:110% 20px;
        background-position: 20px;
    }
    .element_heading2{
        margin-top: 100px;
        width: 50px;
        padding-left: 28px;
        color:#FF0084;
    }
    .font_space{
        color:white;
        font-size:15px;
    }
    .club_list{
        margin-bottom: 90px;
    }
    .club_start_a{
        height:32px;
        margin-right: 20px;
        margin-left: 20px;
        border-left:4px solid #FF0084; 
        border-bottom:2px solid grey;
        display: flex;
        margin-bottom: 20px;
    }
    .club_a_line{
        padding-left: 5px;
        height:24px;
        margin-top: 0px;
    }
    .club_detail{
        margin-left: auto; /* 右揃えにするために追加 */
        padding-right: 10px; /* 右端からの余白を調整 */
        margin-top: 0px;
        padding-top: 0px;
        color: #FF0084;
        font-size:24px;
        padding-top: 0px;
    }
    
    
    /*福島追加 */
    .club_detail_content{
        display:flex;
        align-items: center;
        margin-left:28px;
        height:44px;
    }
    
    .club_logo{
        width:28px;
        height:28px;
        border: solid #FF0084 2px;
        border-radius:50%;   
    }
    
    .vocaloid{
        margin-left:4px!important;
    }
    .club_detail_content p{
        margin-left:16px;
    }
    
    .club_link{
        margin-left:auto;
        margin-right:20px;
        background-color: #FF0084;
        text-decoration:none;
        color:#FFFFFF;
        border-radius:5px;
        display:flex;
        padding:2px 8px;
    }
    
    .link_img{
        width:20px;
        height:20px;
    }
}
@media screen and (min-width:1024px) {
    .downloads_top_title{
        margin-top: 40px;
        margin-left: 160px;
        height:76px;
        vertical-align: top;
    }
    .downloads_top{
        margin-left: 160px;
        line-height: 0px;
    }
    .Top_explanation{
        margin: 40px 160px 80px 160px;
    }
    .Pamphlet{
        border:2px solid #FF0084;
        margin-left: 160px;
        margin-right: 160px;
    }
    .element_heading{
        margin-left: 40px;
        margin-top: 40px;
        color:#FF0084;
    }
    .pamphlet_explanation{
        margin-left:40px;
        margin-right:40px;
        margin-top: 0px;
    }
    .sixty_pamphlet{
        color:#FF0084;
        margin-bottom: 60px;
        margin-left:40px;
        width:50%;
    }
    .pamphlet_downloads{
        display: flex;
        align-items: center;
    }
    .sixty_pamphlet_downloads{
        padding-right: 10px;
        padding-left: 20px;
        color:white;
        font-family: 'Noto Sans JP';
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        height:20px;
        margin-bottom:20px;
    }
    .dl_button_img{
        width:40px;
    }
    .dl_button{
        margin-left:auto;
        margin-right:60px;
    }
    .underline_club_magazine{
        margin-left: 160px;
        padding-bottom: 1px;
        background-image: url("img/underline_logotheme.png");
        background-repeat: no-repeat;
        background-size:110% 20px;
        background-position:0px;
        margin-right:120px;
    }
    .element_heading2{
        margin-top: 100px;
        width: 50px;
        padding-left: 24px;
        color:#FF0084;
        font-family:"Noto Sans JP";
        font-size: 48px;
    }
    .font_space{
        color:white;
        font-size:15px;
    }
    .club_list{
        margin-bottom: 90px;
        margin-left:120px;
    }
    .club_start_a{
        height:65px;
        margin-right: 120px;
        margin-left: 20px;
        border-left:4px solid #FF0084; 
        border-bottom:2px solid grey;
        display: flex;
        margin-bottom: 25px;
    }
    .club_a_line{
        padding-left: 5px;
        height:24px;
        margin-top: 0px;
    }
    .club_detail{
        margin-left: auto; /* 右揃えにするために追加 */
        padding-right: 10px; /* 右端からの余白を調整 */
        margin-top: 0px;
        padding-top: 0px;
        color: #FF0084;
        font-size:40px;
        padding-top: 0px;
    }
    
    
    /*福島追加 */
    .club_detail_content{
        display:flex;
        align-items: center;
        margin-left:28px;
        height:80px;
        margin-top:32px;
        margin-bottom:32px;
    }
    
    .club_logo{
        width:80px;
        height:80px;
        border: solid #FF0084 4px;
        border-radius:50%;   
    }
    
    .club_detail_content p{
        margin-left:32px;
    }
    
    .club_link{
        margin-left:auto;
        margin-right:120px;
        background-color: #FF0084;
        text-decoration:none;
        color:#FFFFFF;
        border-radius:5px;
        display:flex;
        padding:2px 8px;
    }
    
    .link_img{
        width:60px;
        height:60px;
    }
}
