@charset "UTF-8";
.downloads_top_title{
    margin-top: 20px;
    margin-left: 20px;
    width:140px;
    vertical-align: top;
}
.downloads_top{
    margin-left: 20px;
    line-height: 0px;
}
.Top_explanation{
    margin: 60px 20px 0px 20px;
}   
.underline_pamphlet{
    margin-left: 0px;
    padding-bottom: 1px;
    background-image: url("img/underline_xheader.png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
}
.element_heading{
    margin-left: 28px;
    color:#FF0084;
}
.pamphlet_explanation{
    margin-left:20px;
    margin-right:30px;
    margin-top: 0px;
}
.sixty_pamphlet{
    float: left;
    margin-left: 40px;
    color:#FF0084;
    margin-bottom: 60px;
}
.dl_button{
    float:right;
    background-color: #FF0084;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 0px;
    margin-top:7px;
    height:25px;
}
.dl_button_img{
    float:right;
    padding-right: 5px;
    width:25px;
    height:25px;
}
.sixty_pamphlet_downloads{
    float:right;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 3px;
    color:white;
    font-family: 'Noto Sans JP';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
.underline_club_magazine{
    margin-right: 10px;
    padding-bottom: 1px;
    background-image: url("img/underline_logotheme.png");
    background-repeat: no-repeat;
    background-position: 20px 15px;
}
.element_heading2{
    margin-top: 100px;
    width: 50px;
    padding-left: 28px;
    color:#FF0084;
}
.font_space{
    color:white;
    font-size:15px;
}
.club_start_a{
    height:32px;
    margin-right: 20px;
    margin-left: 20px;
    border-left:4px solid #FF0084; 
    border-bottom:2px solid grey;
}
.club_a_line{
    padding-left: 5px;
}
.club_list{
    margin-bottom: 90px;
}