main{
    background-image: url(img/back.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:924px;
}
@media screen and (max-width: 1024px){
    main{
        background-image: url(img/m_back.jpeg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width:100%;
    }
}
.content{
    text-align: center;
}
@media screen and (max-width: 1024px){
    .content{
        text-align: center;
    }
}
.title{
    color: #FF0084;
    font-family: 'Nunito Sans';
    font-size: 300px;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: -90px;
}
@media screen and (max-width: 1024px){
    .title{
        color: #FF0084;
        font-family: 'Nunito Sans';
        font-size: 128px;
        font-weight: bold; 
        margin-top: 30%;
        margin-bottom: -5%;
    }
}
.title2{
    color: #FF0084;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 70px;
}
@media screen and (max-width: 1024px){
    .title2{
        color: #FF0084;
        margin-top: 0%;
        padding-top: 0%;
        margin-bottom: 0px;
    }
}
.textbox{
    margin: 16px auto;
	display: block;
    width: 55%;
}
@media screen and (max-width: 1024px){
    .textbox{
        margin: 5% auto;
        display: block;
        width: 80%;
    }
}
.text{
	text-align: left;
	display: inline-block;
}
.button{
    size: 25%;
    margin-bottom:100px;
}
@media screen and (max-width: 1024px){
    .button{
        size: 25%;
        margin-bottom:100px;
    }
}

.button_img{
    width:360px;
}
@media screen and (max-width: 1024px){
    .button_img{
        width:180px;
    }
}