main{
    background-image: url(img/back.jpeg);
    background-size: 100%;
    background-position: bottom;
}
.content{
    text-align: center;
}
.title{
    color: #FF0084;
    font-family: 'Nunito Sans';
    font-size: 300px;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: -60px;
}
.title2{
    color: #FF0084;
    margin-bottom: 30px;
}
.textbox{
    margin: 16px auto;
	display: block;
}
.text{
	text-align: left;
	display: inline-block;
}