@charset "UTF-8";


main {
    margin-left: calc(12.5% - 30px);
    margin-right: calc(12.5% - 30px);
    padding-right: 0;
    font-family: 'Noto Sans JP';
    overflow: scroll;
    width: auto;
    border: 0;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
.main::-webkit-scrollbar{
 display: none;
}

h1{
    height: auto;
}

h2 {
    color: #FF0084;
    font-family: 'Noto Sans JP';
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

main>section {
    padding: 20px 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding-bottom: 20px;
}

/*--------------------------------------------------------------------------*/

/*--展示説明欄関係-------------------------------------------------*/

#section_title {
    padding-top: 0;
}

.exhibition_title_box {
    display: flex;
    margin-top: 20px;
    height: fit-content;
}

#exhibition_arrow-back {
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 29px;
}

.title_img_box {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-color: #0085FF;
    border-radius: 100%;
    border-style: solid;
    margin-top: 3.5px;
    margin-left: auto;
    margin-right: 10px;
}

.title_img {
    width: 50px;
    height: 50px;
    clip-path: circle(50% at 50% 50%);
}


.title_body {
    padding-left: 20px;
    padding-right: 20px;
}

#title_exhibition_place {
    display: block;
    /*color: #FF0084;*/
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 0;
    width: fit-content;
    text-align: center;
}

#exhibition_img_box {
    width: 100%;
    aspect-ratio: 320/270;
    overflow: hidden;
    background-color: #D9D9D9;
    margin-top: 30px;
}

#exhibition_desctiption {
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 20px;
}

/*--展示説明欄関係おわり--------------------------------------*/
/*--イベント情報関連------------------------------------------*/

#h2_event {
    background-image: url(../img/vector_for_experiment/svg.svg);
    background-repeat: no-repeat;
    height: 32px;
    background-size: 100% 16px;
    background-position: 0% 100%;
    min-width: 320px;
}

#event_place {
    display: flex;
    margin: 0;
}

#event_place_text {
    margin: 0;
    padding-left: 20px;
}

#event_detail {
    display: flex;
    margin-top: 9px;
    height: 20px;
}

#event_detail_text {
    margin: 0;
    padding-left: 52px;
    padding-right: 16px;
}

#event_detail_icon {
    height: 20px;
    width: 20px;
}

/*--イベント情報関連おわり------------------------------------*/
/*--部誌関連-------------------------------------------------*/

#h2_journal {
    /*background-image: url(../img/h2-journal.svg);
    background-repeat: no-repeat;*/
    height: 32px;
    /*background-size: 100% 16px;
    background-position: 0% 100%;*/
    min-width: 320px;
    position: relative;
}

.h2_journal_left{
    position: absolute;
    bottom: 0;
    left: 0;
}

.h2_journal_middle{
    position: absolute;
    bottom: 0;
    left: 72px;
    width: calc(100% - 72px - 4.5px);
    height: 22px;
}

.h2_journal_right{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 22px;
}

#journal {
    display: flex;
    height: 23px;
    margin: 0;
}

#journal_text {
    margin: 0;
    padding-left: 20px;
}

#journal_button {
    display: flex;
    width: 116px;
    height: 21px;
    color: #FFFFFF;
    background-color: #FF0084;
    border-radius: 4px;
    border: 1px solid #FF0084;
    padding: 2px 8px;
    margin: 1px 20px 1px auto;
}

.ripple_effect {}

#journal_button_text {
    margin: 0;
    width: 72px;
}

#journal_button_icon {
    margin: 0 0 0 auto;
}

/*--部誌関連おわり--------------------------------------------*/
/*--SNS関連--------------------------------------------------*/

#h2_SNS {
    background-image: url(../img/h2-SNS.svg);
    background-repeat: no-repeat;
    height: 32px;
    background-size: 100% 16px;
    background-position: 0% 100%;
    min-width: 320px;
}

#SNS {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.SNS_content {
    display: flex;
}

.SNS_icon {
    width: 24px;
    height: 24px;
}

.SNS_text {
    margin: 0 7px;
    height: 24px;
    font-size: 16px;
    font-weight: 400px;
    font-style: bold;
}

.SNS_external_link {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
}

#SNS_id_0 {}

/*--SNS関連おわり---------------------------------------------*/
/*--関連コンテンツ関連----------------------------------------*/



/*--関連コンテンツ関連おわり-----------------------------------*/

/*一覧に戻る*/

#section_go_back {
    padding-bottom: 80px;
}

#go_back_bottom {
    color: black;
    text-decoration: none;
}