@charset "UTF-8";
.TOP_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .TOP_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-feature-settings: "palt" 1;
    line-height: 44px;
    letter-spacing: 0.2em;
    margin: 10px 0;
  }
}

.TOP_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .TOP_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
  }
}

.TOP_title_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0;
}

.countdown_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    font-feature-settings: "palt" 1;
    line-height: 29px;
    letter-spacing: 0;
  }
}

.countdown_jp2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  font-feature-settings: "palt" 1;
  line-height: 26px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 8px 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_jp2 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    font-feature-settings: "palt" 1;
    line-height: 44px;
    letter-spacing: 0.2em;
    margin: 10px 0;
  }
}

.countdown_number {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 22px 0;
}
@media only screen and (min-width: 1025px) {
  .countdown_number {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 90px;
    line-height: 105px;
    letter-spacing: 0;
  }
}

.footer_copy_right {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {
  .footer_copy_right {
    margin: 0;
  }
}

.footer_sns {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 8px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .footer_sns {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 8px;
    letter-spacing: 0;
  }
}

.blog_article_date {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .blog_article_date {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
  }
}

.top_ta_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .top_ta_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
  }
}

.nav_ta_en {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8vw;
  line-height: 22px;
  letter-spacing: 0;
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {
  .nav_ta_en {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.top_tab_jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  font-feature-settings: "palt" 1;
  line-height: 17px;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0;
}
section .top_tab_jp {
  text-shadow: 0 0 6px #000000;
}
@media only screen and (min-width: 1025px) {
  .top_tab_jp {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    font-feature-settings: "palt" 1;
    line-height: 35px;
    letter-spacing: 0;
  }
}

.top_ta_jp_body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.5px;
  font-feature-settings: "palt" 1;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media only screen and (min-width: 1025px) {
  .top_ta_jp_body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 30px;
    letter-spacing: 0.05em;
  }
}

.top_more_button {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .top_more_button {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.05em;
  }
}

.reading_body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .reading_body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-feature-settings: "palt" 1;
    line-height: 42px;
    letter-spacing: 0.05em;
  }
}

::-moz-selection {
  background-color: #52CC89;
}

::selection {
  background-color: #52CC89;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  body {
    padding-top: 52px;
    padding-bottom: 133px;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    padding-top: 85px;
    padding-bottom: 575px;
  }
}
body::before {
  content: "";
  position: fixed;
  background-image: url("/2023/common/img/bg_25_8bit.webp");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -10;
}

noscript #no_script {
  z-index: 1000000;
  background-color: red;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
noscript input, noscript label {
  position: fixed;
  z-index: 1000001;
  left: 20px;
  top: 300px;
  border: #ffffff solid 1px;
  padding: 10px;
}
noscript #disp {
  display: none;
}
noscript #disp:checked + #no_script {
  display: none;
}
noscript #disp:checked ~ label {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}
@media only screen and (min-width: 1025px) {
  header {
    height: 85px;
  }
}
@media only screen and (max-width: 1024px) {
  header #nav_close, header #nav_sns_block {
    display: none;
  }
}
header #header_logo {
  height: auto;
}
@media only screen and (min-width: 1025px) {
  header #header_logo {
    width: 160px;
    margin: 0 min(50px, 5.5vw - 25px) 2px;
  }
}
@media only screen and (max-width: 1024px) {
  header #header_logo {
    width: 100px;
    margin: 0 21px 0;
    position: relative;
    z-index: 1;
  }
}
@media only screen and (min-width: 1025px) {
  header #nav_control {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header #nav_control {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  header #nav_control img {
    width: 25px;
    height: 25px;
    margin: 18px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1025px) {
  header nav ul {
    display: flex;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 min(33px, 5.5vw - 40px);
  }
  header nav ul li a {
    position: relative;
  }
  header nav ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    transform: scaleX(0);
  }
  header nav ul li a:hover:after {
    width: 100%;
    transform: scaleX(1);
  }
  header nav ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
  header nav #nav_sns_block {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 70px 70px;
    box-sizing: border-box;
    background-image: url("/2023/common/img/bg_rgb_25_8bit.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  }
  header nav ul {
    text-align: right;
  }
  header nav ul a {
    display: inline-block;
    height: calc(11.1111111111dvh - 22.2222222222px);
  }
  header nav ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
  }
  header nav #nav_sns_block {
    width: 100%;
    text-align: end;
    vertical-align: middle;
    position: absolute;
    top: calc(100dvh - 100px);
    right: 70px;
  }
  header nav #nav_sns_block img {
    width: 17px;
    height: auto;
    vertical-align: middle;
    margin: 0 0 0 20px;
  }
}

main {
  transition: opacity 500ms;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  box-sizing: border-box;
}
@media only screen and (min-width: 1025px) {
  footer {
    height: 575px;
    padding: 125px 10vw 107px 15vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer_logo_copy {
    width: 20vw;
    max-width: 290px;
    text-align: right;
  }
  footer .footer_logo_copy #footer_logo {
    margin-top: 25px;
    width: 100%;
    height: auto;
  }
  footer .footer_logo_copy .footer_copy_right {
    width: 100%;
    margin-top: 18.5px;
    word-break: keep-all;
  }
  footer #footer_sns_block {
    order: 3;
  }
  footer #footer_sns_block a {
    display: flex;
    height: 75px;
    align-items: center;
  }
  footer #footer_sns_block a .sns_icon {
    width: 18px;
    height: auto;
    margin-right: 25px;
  }
  footer #footer_sns_block a .sns_link_mark {
    width: auto;
    height: 6px;
    margin-left: 25px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 30vw;
    order: 4;
  }
  footer ul .now_close a {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
  footer ul li a {
    display: flex;
    height: 75px;
    align-items: center;
  }
  footer ul a {
    position: relative;
  }
  footer ul a:after {
    position: absolute;
    bottom: 20px;
    left: 0;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.2s ease;
    transform: scaleX(0);
    transform-origin: left;
  }
  footer ul a:hover:after {
    width: 75px;
    transform: scaleX(1);
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    height: 133px;
    padding: 25px 10vw 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  footer > a {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer wbr {
    display: none;
  }
  footer .footer_logo_copy {
    width: 160px;
  }
  footer .footer_logo_copy #footer_logo {
    width: 100%;
  }
  footer .footer_logo_copy .footer_copy_right {
    width: 65px;
    transform-origin: left center;
    transform: scale(0.5);
    margin: 0 0 7.5px;
    white-space: nowrap;
    margin-top: 9px;
  }
  footer #footer_sns_block {
    width: 125px;
    height: 100%;
    transform: scale(0.5);
    transform-origin: right top;
  }
  footer #footer_sns_block a {
    display: flex;
    height: 56px;
    align-items: center;
  }
  footer #footer_sns_block a .sns_icon {
    width: 18px;
    margin-right: 25px;
  }
  footer #footer_sns_block a .sns_link_mark {
    height: 6px;
    margin-left: 25px;
  }
  footer ul {
    transform: scale(0.5);
    transform-origin: left top;
    width: 65px;
    white-space: nowrap;
  }
  footer ul .pc_only a {
    display: none;
  }
}

/*タイムテーブル用*/
.page-title {
  position: relative;
  display: grid;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  .page-title {
    margin-top: -90px;
  }
}
.page-title__img {
  height: 75px;
  width: auto;
}
@media only screen and (min-width: 1025px) {
  .page-title__img {
    height: 400px;
  }
}
.page-title__text {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: absolute;
  margin-left: 60px;
}
@media only screen and (min-width: 1025px) {
  .page-title__text {
    margin-left: 250px;
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.1em;
  }
}

.rain {
  margin: 20px 5%;
  padding: 10px;
  border: #52CC89 1px solid;
}
.rain__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  font-feature-settings: "palt" 1;
  line-height: 1.5;
  letter-spacing: 0;
  color: white;
}
.rain__description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 2;
  letter-spacing: 0.05em;
  color: white;
  margin-top: 5px;
}

.time-table {
  width: 100%;
  position: relative;
  margin-top: 30px;
}
.time-table__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 55px;
  margin-top: 10px;
  padding: 0 35px;
  margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
  .time-table__buttons {
    height: 80px;
    gap: 40px;
  }
}
.time-table__move-button {
  color: white;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.time-table__move-button--not-touch-device {
  display: block;
  height: 40px;
  width: 40px;
}
.time-table__move-button-img {
  width: 100%;
  height: 100%;
}
.time-table__day-button {
  height: 100%;
  width: 100%;
}
.time-table .day-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  .time-table .day-button {
    gap: 30px;
  }
}
.time-table .day-button__button {
  height: 100%;
  aspect-ratio: 47/25;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.time-table .day-button__button:nth-child(2n-1) {
  background-image: url(img/1-off.webp);
}
.time-table .day-button__button:nth-child(2n) {
  background-image: url(img/2-off.webp);
}
.time-table .day-button__img {
  width: auto;
  height: 100%;
  transition: opacity 0.3s;
}
.time-table .day-button__img--opacity0 {
  opacity: 0;
}
.time-table__block {
  display: flex;
  padding: 0 13px;
  padding-bottom: 28px;
  gap: 26px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.time-table__block--not-touch-device {
  scroll-snap-type: none;
}
.time-table__block::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.time-table__block::-webkit-scrollbar-track {
  background: transparent;
}
.time-table__block::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2.5px;
  border: 0px solid #ffffff;
}
@media only screen and (min-width: 601px) {
  .time-table__block {
    scroll-padding-left: 13px;
  }
}
.time-table__wrapper {
  width: calc(100% - 13px);
  flex-shrink: 0;
  scroll-snap-align: center;
}
@media only screen and (min-width: 601px) {
  .time-table__wrapper {
    width: calc(50% - 13px);
    scroll-snap-align: start;
  }
}
@media only screen and (min-width: 1025px) {
  .time-table__wrapper {
    width: 360px;
  }
}
.time-table__title-block {
  display: grid;
  grid-template: "title" auto/auto;
  width: 100%;
  margin-top: 30px;
}
.time-table__title {
  grid-area: title;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  font-feature-settings: "palt" 1;
  line-height: 1;
  letter-spacing: 0;
  color: #ffffff;
  text-align: center;
}
.time-table__sub-title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  font-feature-settings: "palt" 1;
  line-height: 1;
  letter-spacing: 0;
  color: #ffffff;
  margin-left: 5px;
}
.time-table__table {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "clock contents";
  gap: 15px;
  margin-top: 20px;
}
.time-table__clock {
  text-align: end;
  grid-area: clock;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 110px);
}
.time-table__clock-number {
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  font-style: italic;
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(-50%);
}
.time-table__line-block {
  grid-area: contents;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(16, 55px);
}
.time-table__line {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, transparent 5px, transparent 5px);
  background-size: 10px 1px;
  background-position: left top;
  background-repeat: repeat-x;
}
.time-table__contents-wrapper {
  grid-area: contents;
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(96, 9.1666666667px);
}
.time-table__contents-block--shorten {
  margin-bottom: 5px;
}
.time-table__contents-block--shorten .time-content__etime {
  display: none;
}
.time-table .time-content {
  position: relative;
  border-left: #000000 3px solid;
  display: grid;
  grid-template-columns: auto 1fr 30px;
  grid-template-rows: 1fr;
  grid-template-areas: "time title arrow";
  align-items: center;
  align-content: center;
  gap: 20px;
  padding-right: 10px;
}
.time-table .time-content--orange {
  border-color: #f15d2f;
}
.time-table .time-content--orange::before {
  background-color: #f15d2f;
}
.time-table .time-content--blue {
  border-color: #0078c0;
}
.time-table .time-content--blue::before {
  background-color: #0078c0;
}
.time-table .time-content--yellow {
  border-color: #efe141;
}
.time-table .time-content--yellow::before {
  background-color: #efe141;
}
.time-table .time-content--yellow-green {
  border-color: #bbd75e;
}
.time-table .time-content--yellow-green::before {
  background-color: #bbd75e;
}
.time-table .time-content--sky {
  border-color: #56CBF5;
}
.time-table .time-content--sky::before {
  background-color: #56CBF5;
}
.time-table .time-content--purple {
  border-color: #b32e92;
}
.time-table .time-content--purple::before {
  background-color: #b32e92;
}
.time-table .time-content--green {
  border-color: #77b141;
}
.time-table .time-content--green::before {
  background-color: #77b141;
}
.time-table .time-content::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  mix-blend-mode: soft-light;
  z-index: -1;
}
.time-table .time-content__time {
  grid-area: time;
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  font-style: italic;
  color: #ffffff;
  height: calc(100% + 7px);
  margin-top: -3.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time-table .time-content__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0;
}
.time-table .time-content__title--tickets {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.time-table .time-content__title--tickets::after {
  content: "要整理券";
  background-color: #F6166A;
  border-radius: 100vh;
  padding: 0 5px;
  white-space: nowrap;
}
.time-table .time-content__arrow {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.time-table__surround-box {
  grid-area: contents;
}
.time-table .surround-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(96, 9.1666666667px);
  margin: 0 5%;
  position: relative;
}
.time-table .surround-box__block {
  position: absolute;
  inset: 0;
  margin: auto;
  outline: #000 4px solid;
  outline-offset: 5px;
}
.time-table .surround-box__block--tyuyasai {
  outline-color: rgba(88, 81, 153, 0.8);
}
.time-table .surround-box__block--tyuyasai .surround-box__label {
  background-color: rgba(88, 81, 153, 0.8);
}
.time-table .surround-box__block--koyasai {
  outline-color: rgba(114, 79, 142, 0.8);
}
.time-table .surround-box__block--koyasai .surround-box__label {
  background-color: rgba(114, 79, 142, 0.8);
}
.time-table .surround-box__block--rain {
  outline-color: rgba(190, 190, 190, 0.8);
  outline-offset: 12px;
}
.time-table .surround-box__block--rain .surround-box__label {
  background-color: rgba(190, 190, 190, 0.8);
}
.time-table .surround-box__label {
  position: absolute;
  top: -8px;
  left: -9px;
  color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  font-feature-settings: "palt" 1;
  line-height: 15px;
  letter-spacing: 0;
  background-color: white;
  transform: translateY(-100%);
  padding: 2px 20px 3px 10px;
  -webkit-clip-path: polygon(0 0, calc(100% - 20px) 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, calc(100% - 20px) 0%, 100% 100%, 0% 100%);
}
.time-table .surround-box__current-block {
  width: 110%;
  margin-left: -5%;
  grid-area: 1/1/97/2;
  position: relative;
  z-index: 1;
}
.time-table .surround-box__current-time {
  position: absolute;
  background-color: red;
  height: 1px;
  width: 100%;
  display: none;
}
.time-table .surround-box__current-time--appear {
  display: block;
}
.time-table .surround-box__current-time::before {
  content: "現在";
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  font-feature-settings: "palt" 1;
  line-height: 1.5;
  letter-spacing: 0;
  color: white;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -50%);
  padding-left: 5px;
  padding-right: 10px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.supplement {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0 50px;
  margin-top: 30px;
  counter-reset: list-number 0;
}
@media only screen and (min-width: 601px) {
  .supplement {
    flex-direction: row;
  }
}
.supplement__block {
  border: #F6166A 3px solid;
  padding: 20px;
  position: relative;
  margin-top: 26px;
  max-width: 500px;
}
.supplement__block::before {
  counter-increment: list-number 1;
  content: "0" counter(list-number) ".";
  font-family: franklin-gothic-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #F6166A;
  position: absolute;
  left: 0;
  top: -2px;
  transform: translateY(-100%);
}
.supplement__title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.supplement__icon {
  width: 25px;
  height: auto;
}
.supplement__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  font-feature-settings: "palt" 1;
  line-height: 1.5;
  letter-spacing: 0;
  color: white;
}
.supplement__description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-feature-settings: "palt" 1;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: white;
  margin-top: 5px;
}

.list-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0 50px;
  padding: 0 50px;
}
.list-link--now-closed {
  opacity: 0.5;
  pointer-events: none;
}
.list-link__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  font-feature-settings: "palt" 1;
  line-height: 1.5;
  letter-spacing: 0;
}
.list-link__img {
  width: 25px;
  height: 25px;
}/*# sourceMappingURL=event.css.map */