
a {
	text-decoration: none;
	color: #333;
}

.news-items {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	font-family: 'Nunito Sans';
	font-weight: 550;
}

.news-item {
	display: flex;
	padding: 20px 0 12px;
}

.news-item:not(:first-child){
	border-top: 1px solid #ddd;
}

.news-head {
	display: flex;
	width: 200px;
}

.news-date {
	width: 110px;
	padding-top: 3px;
}

.news-label a {
	display: block;
	width: 90px;
	height: 32px;
	line-height: 32px;
	color: #fff;
	background: #00CC99;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
}

.news-label a.pink-label {
	background:palevioletred;
}

.news-label a.orange-label {
	background: orange;
}

.news-title {
	width: calc(100% - 200px);
	padding-left: 30px;
	padding-top: 3px;
	line-height: 1.5;
}

@media screen and (max-width: 480px) {
	.news-item {
	display: block;
	}

.news-title {
	width: 100%;
	padding-left: 0;
	padding-top: 0;
	margin-top: 10px;
	}
}
