main{
    background-image: url(back.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height:700px;
}
@media screen and (max-width: 1024px){
    main{
        background-image: url(m_back.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        height:700px;
    }
}
.title{
    text-align: left;
}
h1{
    color: #FF0084;
    margin-left: 15%;
    margin-bottom: -1%;
}
@media screen and (max-width: 1024px){
    h1{
        color: #FF0084;
        margin-left: 5%;
        margin-bottom: -1%;
    }
}
.subtitle{
    margin-top: 0%;
    margin-left: 15%;
}
@media screen and (max-width: 1024px){
    .subtitle{
        margin-top: 0%;
        margin-left: 5%;
    }
}
.textbox{
    margin: 16px auto;
	display: block;
    width: 55%;
}
@media screen and (max-width: 1024px){
    .textbox{
        margin: 40px auto 160px auto;
        display: block;
        width: 90%;
    }
}
h2{
    text-align: left;
}
.text{
	text-align: left;
	display: inline-block;
    margin-top:20px;
}
a {
    color: #FF0084;
  }

.button{
    display:none
}
@media screen and (max-width: 1024px){
    .button{
        display:contents;
        color:black;
        text-decoration: none;
    }

    .button span {
        color:#FF0084;
    }
}
