main{
    background-image: url(back.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.title{
    text-align: left;
}
h1{
    color: #FF0084;
}
.textbox{
    margin: 16px auto;
	display: block;
    width: 55%;
}
.text{
	text-align: left;
	display: inline-block;
}