@charset "UTF-8";
body{
    -webkit-text-size-adjust: 100%;
  }
/*
/*カウントダウン
.countdown{
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown_unit{
    /*以下フォント情報
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 32px;

}

.countdown_number{
    width: 760px;
    height: 120px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*以下フォント情報
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}
*/

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
}
body{
    background-image:url(/2024/static/img/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex; /* ここを追加 */
    justify-content: space-between;
    align-items: center;
    z-index: 255;
}
.header_theme{
    margin-left: 42px;
}

.header_theme_img{
    height: 30px;
}

.header_nav_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.hamburger{
    width:160pX;
    height: 100px;
    cursor: url(/2024/static/img/logo.svg),pointer;
}

.header_reserve_btn a{
    margin: 0 10px 0 40px;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    width: 184px;
    height: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
    
.header_reserve{
    /*以下フォント情報*/
    color: #FF0084;
    font-weight: Medium;
    font-size: 32px;
}

.header_nav{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
}

.header_nav_item{
    position: relative;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    /*以下フォント情報*/
    color: #FFFFFF;
    font-weight: Medium;
    font-size: 32px;
}

/*after要素で下線部分を作る*/
.header_nav_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,45px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.header_nav_item:hover:after{
    transform: translate(-100%,45px) scaleX(1);
}

@media only screen and (max-width: 1439px){
    
    .header_nav{
        gap: 2.5vw;
        margin-left: 2.5vw;
    }

    .header_nav_item{
        font-size: 2.2vw;
    }
}

.menu{
    background-color: #000000;
    width: 100%;
    height: calc(100vh - 100px);
    transition: all 0.2s ease-out;
    position: fixed;
    z-index: 127;
    top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu_main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 8vw;
}

.menu_main_title_English{
    margin: 0;
    /*以下フォント情報*/
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 48px;
}

.menu_main_title_Japanese{
    margin: 0;
    /*以下フォント情報*/
    color: #FFFFFF;
    font-family: 'Noto Sans JP';
    font-weight: Medium;
    font-size: 24px;
}

.menu_main_item_container{
    border-left: 1px solid #FF0084;
    margin: 16px 0 0 11px;
}

.menu_main_item{
    position: relative;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 0 17px 29px;
    /*以下フォント情報*/
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 36px;
}

/*after要素で下線部分を作る*/
.menu_main_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,45px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.menu_main_item:hover:after{
    transform: translate(-100%,45px) scaleX(1);
}

.menu_SNS{
    width: 640px;
    margin: 58px auto 0 auto;
    position: relative;
    top: -17px;
}

.menu_SNS_title{
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}

.menu_SNS_item_container{
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.menu_SNS_btn{
    position: relative;
}

.menu_SNS_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu_SNS_item_name{
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
}

/*after要素で下線部分を作る*/
.menu_SNS_item_name::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,30px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.menu_SNS_btn:hover .menu_SNS_item_name::after{
    transform: translate(-100%,30px) scaleX(1);
}

.menu_SNS_item_link-out{
    position: relative;
    transform: translate(0,3px);
    transition: all 0.1s;
}

.menu_SNS_btn:hover .menu_SNS_item_link-out{
    transform: translate(3px,0)
}

.SNS_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu_credit_container{
    position: absolute;
    right: -13.5vw;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu_privacy_policy{
    display: inline-block;
    text-decoration: none;
    text-align: right;
    width: fit-content;
    width: -moz-fit-content;
    color: #FFFFFF;
}

.menu_privacy_policy_arrow_container{
    display: inline-block;
    transform: scaleX(0.84);
}

.menu_privacy_policy_arrow{
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(-45deg);
}

.menu_privacy_policy_text{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 18px;
    width: fit-content;
    width: -moz-fit-content;
    display: inline-block;
    position: relative;
}

@media only screen and (min-width:1024px){
    /*after要素で下線部分を作る*/
    .menu_privacy_policy_text::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;/*下線の太さ*/
        background-color: #FFFFFF;/*下線の色*/
        transition: all 0.2s ease-out;/*アニメーション時間*/
        transform: translate(-100%,23px) scaleX(0);
        transform-origin: left;
    }
    
    /*カーソルが載ったときにafter要素を表示*/
    .menu_privacy_policy:hover .menu_privacy_policy_text::after{
        transform: translate(-100%,23px) scaleX(1);
    }
}


.menu_credit{
    margin: 0;
    position: relative;
    right: 0;
    text-align: right;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}



/*PC版で高さが足りなくなることへの対策*/
@media only screen and (max-width: 1439px) {

    .menu{
        transition: all 0.3s ease-out;
    }

    .menu_main_title_English{
        font-size: 3.3vw;
    }

    .menu_main_title_Japanese{
        font-size: 1.6vw;
    }

    .menu_main_item{
        font-size: 2.5vw;
    }

    .menu_SNS{
        margin-top: 4vh;
    }

    .menu_SNS_title{
        font-size: 2.5vw;
    }

    .menu_SNS_item_container{
        margin-top: 1.8vh;
    }

    .menu_SNS_item{
        font-size: 1.6vw;
    }

    .menu_credit_container{
        margin-top: 0;
    }

    .menu_privacy_policy{
        transform: scale(0.8);
    }

    .menu_credit{
        font-size: 1vw;
    }

}

.menu_mobile{
    position: absolute;
    top: -52px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 128;
    background-color: #000000;
    overflow: auto;
}

.menu_mobile_container{
    margin: 8vh 8% 0 8%;
}

@media only screen and (max-height:799px) {
    .menu_mobile_container{
        margin: 5vh 8%;
    }
}

.menu_mobile_main{
    height: 64px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-top: -1px;
    transition: all 0.2s ease-out;
}

.menu_mobile_main_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu_mobile_main_title_English{
    opacity: 0.7;
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}

.menu_mobile_main_title_Japanese{
    margin: 0;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.menu_mobile_plus_btn{
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.menu_mobile_main_detail{
    margin: 0 10px 12px 10px;
    border-left: 1px solid #FF0084;
    transition: all 0.2s ease-out;
    transform: scaleY(0);
    transform-origin: top;
}

.menu_mobile_main_detail_link{
    margin: 0 0 8px 8px;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.menu_mobile_link_btn_container{
    margin-top: 19vh;
}

@media only screen and (max-height:799px) {
    .menu_mobile_link_btn_container{
        margin-top: 15vh;
    }
}

.menu_mobile_link_btn_main{
    border: 1px solid #FFFFFF;
    height: 64px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 24px auto 0 auto;
    position: relative;
}

.menu_mobile_link_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 44px 0 24px;
    width: 100%;
}

.menu_mobile_link_btn_text{
    margin: 0;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
}

.menu_mobile_SNS_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 24px 0 10vh 0;
}

.menu_mobile_SNS{
    width: 24px;
    height: 24px;
}





main{
    padding-top: 100px;
}

@media only screen and (max-width: 1023px) {
    main{
        padding-top: 48px;
    }
}



footer{
    width: 100%;
    top: 100vh;
    height: 760px;
    background-color: #000000;
    position: sticky;
}


.footer_logo{
    padding: 80px 0 0 160px;
}

.footer_logo_img{
    display: inline-block;
    height: 82px;
}

.footer_logo_img_caption{
    margin: 0;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
}

.footer_nav{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.footer_nav_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.footer_nav_body_title_English{
    margin: 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
}

.footer_nav_body_item{
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

/*after要素で下線部分を作る*/
.footer_nav_body_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,27px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.footer_nav_body_item:hover:after{
    transform: translate(-100%,27px) scaleX(1);
}

.footer_nav_SNS:hover .footer_nav_body_item::after{
    transform: translate(-100%,27px) scaleX(1);
}

.footer_nav_SNS{
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.footer_nav_SNS_btn{
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
}

.footer_X-Twitter_icon{
    width: 26px;
    height: 30px;
}

.footer_nav_SNS_Twitter_caption{
    font-size: 20px;
    display: inline-block;
}

.footer_nav_body_item_SNS{
    margin: 0;
}


/*メディアクエリ*/
@media only screen and (max-width: 1023px) {

    header{
        position: fixed;
        height: 48px;
    }

    .header_theme{
        margin-left: 15px;
    }

    .header_theme_img{
        height: 10px;
    }

    .header_nav{
        display: none;
    }

    .hamburger{
        height: 48px;
        width:80PX;
    }

    footer{
        height: 119px;
    }

    .footer_logo{
        padding: 22px 0 0 30px;
    }

    .footer_logo_img{
        height: 32px;
    }

    .footer_logo_img_caption{
        font-size: 10px;
        transform: scale(0.5);
        transform-origin: top left;
    }

    .menu_privacy_policy_text{
        font-size: 8px;
    }

    .menu_privacy_policy_arrow{
        width: 3px;
        height: 3px;
    }

    .footer_nav{
        margin-top: -100px;
    }

    .footer_nav_body{
        display: none;
    }

    .footer_show{
        display: block;
        position: absolute;
        right: 60px;
        top: 31px;
    }

    .footer_nav_body_title_English{
        font-size: 10px;
        transform: scale(0.9);
        transform-origin: top left;
        margin-bottom: 0;
    }

    .footer_nav_body_item{
        font-size: 10px;
        transform: scale(0.8);
        transform-origin: top left;
        position: relative;
        top: 1px;
    }

    .footer_nav_body_item::after{
        display: none;
    }

    .footer_nav_SNS{
        margin-top: 4px;
        height: 14px;
    }

    .footer_X-Twitter_icon{
        width: 8px;
        height: 8px;
        position: relative;
    }

    .footer_X-Twitter_icon svg{
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer_nav_SNS_Twitter_caption{
        font-size: 10px;
    }

    .footer_nav_SNS_img{
        width: 8px;
        height: 8px;
    }

    .header_reserve_btn{
        display: none;
    }

}


/*common行きここまで*/

.unfinished{
    pointer-events:none!important;/*クリック不可にする*/
    color: #B2B2B2!important;
    opacity: 0.5!important;
}

.hide{
    display: none!important;
}