@charset "UTF-8";

/*ここからcommon行き*/

body{
    margin: 0;
    min-height: 100vh;
}

header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 255;
}

.header_theme{
    margin-left: 42px;
}

.header_nav_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.hamburger{
    height: 100px;
    cursor: url(/2024/static/img/logo.svg),pointer;
}

.header_reserve_btn{
    margin: 0 25px 0 0;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    width: 184px;
    height: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.header_reserve{
    /*以下フォント情報*/
    color: #FF0084;
    font-weight: Medium;
    font-size: 32px;
}

.header_nav{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
}

.header_nav_item{
    position: relative;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    /*以下フォント情報*/
    color: #FFFFFF;
    font-weight: Medium;
    font-size: 32px;
}

/*after要素で下線部分を作る*/
.header_nav_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,45px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.header_nav_item:hover:after{
    transform: translate(-100%,45px) scaleX(1);
}

@media only screen and (max-width: 1439px){
    
    .header_nav{
        gap: 2.5vw;
        margin-left: 2.5vw;
    }

    .header_nav_item{
        font-size: 2.2vw;
    }
}

.menu{
    background-color: #000000;
    width: 100%;
    height: calc(100vh - 100px);
    transition: all 0.2s ease-out;
    position: fixed;
    z-index: 127;
    top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu_main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 8vw;
}

.menu_main_title_English{
    margin: 0;
    /*以下フォント情報*/
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 48px;
}

.menu_main_title_Japanese{
    margin: 0;
    /*以下フォント情報*/
    color: #FFFFFF;
    font-family: 'Noto Sans JP';
    font-weight: Medium;
    font-size: 24px;
}

.menu_main_item_container{
    border-left: 1px solid #FF0084;
    margin: 16px 0 0 11px;
}

.menu_main_item{
    position: relative;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 0 17px 29px;
    /*以下フォント情報*/
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 36px;
}

/*after要素で下線部分を作る*/
.menu_main_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,45px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.menu_main_item:hover:after{
    transform: translate(-100%,45px) scaleX(1);
}

.menu_SNS{
    width: 640px;
    margin: 58px auto 0 auto;
    position: relative;
    top: -17px;
}

.menu_SNS_title{
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}

.menu_SNS_item_container{
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.menu_SNS_btn{
    position: relative;
}

.menu_SNS_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu_SNS_item_name{
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.menu_SNS_item_link-out{
    position: relative;
    transform: translate(0,3px);
    transition: all 0.1s;
}

.menu_SNS_btn:hover .menu_SNS_item_link-out{
    transform: translate(3px,0)
}

.SNS_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu_credit_container{
    position: absolute;
    right: -13.5vw;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu_privacy_policy{
    display: inline-block;
    text-decoration: none;
    text-align: right;
    width: fit-content;
    width: -moz-fit-content;
}

.menu_privacy_policy_arrow_container{
    display: inline-block;
    transform: scaleX(0.84);
}

.menu_privacy_policy_arrow{
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(-45deg);
}

.menu_privacy_policy_text{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: fit-content;
    width: -moz-fit-content;
    display: inline-block;
    position: relative;
}

/*after要素で下線部分を作る*/
.menu_privacy_policy_text::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,23px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.menu_privacy_policy:hover .menu_privacy_policy_text::after{
    transform: translate(-100%,23px) scaleX(1);
}

.menu_credit{
    margin: 0;
    position: relative;
    right: 0;
    text-align: right;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}



/*PC版で高さが足りなくなることへの対策*/
@media only screen and (max-width: 1439px) {

    .menu_main_title_English{
        font-size: 3.3vw;
    }

    .menu_main_title_Japanese{
        font-size: 1.6vw;
    }

    .menu_main_item{
        font-size: 2.5vw;
    }

    .menu_SNS{
        margin-top: 4vh;
    }

    .menu_SNS_title{
        font-size: 2.5vw;
    }

    .menu_SNS_item_container{
        margin-top: 1.8vh;
    }

    .menu_SNS_item{
        font-size: 1.6vw;
    }

    .menu_credit_container{
        margin-top: 0;
    }

    .menu_privacy_policy{
        transform: scale(0.8);
    }

    .menu_credit{
        font-size: 1vw;
    }

}


.unfinished{
    pointer-events:none!important;/*クリック不可にする*/
    color: #B2B2B2!important;
}



main{
    padding-top: 100px;
}



footer{
    width: 100%;
    height: 760px;
    background-color: #000000;
}

.footer_logo{
    padding: 80px 0 0 160px;
}

.footer_logo_img{
    height: 82px;
}

.footer_logo_img_caption{
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
}

.footer_nav{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.footer_nav_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.footer_nav_body_title_English{
    margin: 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
}

.footer_nav_body_item{
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

/*after要素で下線部分を作る*/
.footer_nav_body_item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;/*下線の太さ*/
    background-color: #FFFFFF;/*下線の色*/
    transition: all 0.2s ease-out;/*アニメーション時間*/
    transform: translate(-100%,27px) scaleX(0);
    transform-origin: left;
}

/*カーソルが載ったときにafter要素を表示*/
.footer_nav_body_item:hover:after{
    transform: translate(-100%,27px) scaleX(1);
}

.footer_nav_SNS{
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.footer_nav_SNS_btn{
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
}

.footer_X-Twitter_icon{
    width: 26px;
    height: 26px;
}

.footer_nav_body_item_SNS{
    margin: 0;
}


/*common行きここまで*/

/*ここからトップページ本体*/



.top_firstview{
    width: 100%;
    background: url(/2024/static/img/firstview_bg_mono.png);
    aspect-ratio: 16/9;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.top_firstview_bg{
    position: absolute;
    top: 0;
    left: 0;
    background: url(/2024/static/img/firstview_bg_color.png);
    width: 100%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-repeat: no-repeat;
}

.firstview_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
}

.top_countdown{
    width: 100%;
    height: 860px;
    position: relative;
}

.top_countdown_bg_1{
    width: 100%;
    height: 860px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B2B2B2;
    clip-path: polygon(0 200px, 100% 0, 100% 660px, 0 100%);
}

.top_countdown_bg_2{
    width: 100%;
    height: 780px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #5F5F5F;
    clip-path: polygon(0 120px, 100% 0, 100% 660px, 0 100%);
}

.top_countdown_bg_main{
    width: 100%;
    height: 700px;
    background-color: #000000;
    clip-path: polygon(0 40px, 100% 0, 100% 660px, 0 100%);
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_countdown_main_container{
    width: 920px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_countdown_border{
    width: 50px;
    height: 50px;
    border-top: solid 5px #FFFFFF;
    border-left: solid 5px #FFFFFF;
    box-sizing: border-box;
}

.border_TopLeft{
    position: absolute;
    top: 0;
    left: 0;
}

.border_TopRight{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

.border_BottomRight{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.border_BottomLeft{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
}

.top_countdown_main{
    width: 820px;
    height: 600px;
}

.date_info_container{
    display: flex;
    justify-content: space-between;
}

.date_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.date{
    margin: 0;
    letter-spacing: -20px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 240px;
    color: #FF0084;
}

.day{
    margin: 0;
    position: relative;
    left: -20px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 80px;
    color: #FF0084;
    transform: rotate(90deg);
}

.date_info_sub_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
}

.date_info_sub{
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 48px;
    color: #FF0084;
}

.countdown_title{
    text-align: center;
    margin: 0;
    margin-top: 22px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 40px;
    color: #00FFFB;
}

.countdown_message{
    text-align: center;
    margin: 0;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.countdown_error{
    text-align: center;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}

.countdown_holding{
    text-align: center;
    margin: 0;
    position: relative;
    top: 40px;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 60px;
    color: #FFFFFF;
}

.countdown_end{
    text-align: center;
    margin: 0;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}

.countdown_number_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 13px;
}

.countdown_number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 64px;
    color: #FF0084;
}

#day::after{
    content: "DAYS";
    text-align: center;
    margin-top: -10px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

#hour::after{
    content: "HOURS";
    text-align: center;
    margin-top: -10px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

#minute::after{
    content: "MINS";
    text-align: center;
    margin-top: -10px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

#second::after{
    content: "SECS";
    text-align: center;
    margin-top: -10px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}




.top_description_container{
    width: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 136px;
}

.top_description_container_fliped{
    margin: 0 136px 0 0;
}

.top_description_title_bg{
    display: flex;
    justify-content: right;
    align-items: center;
    background: url(/2024/static/img/top_description_title_bg_PC.svg);
    width: 865px;
    height: 120px;
    background-repeat: no-repeat;
}

.top_description_title{
    margin: 0 140px 0 0;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 64px;
    color: #FFFFFF;
}

.top_description_frame{
    display: block;
    margin-top: 80px;
    width: 648px;
}

.top_description_Japanese{
    width: 600px;
    margin: 64px 0 0 0;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 24px;
}

.top_description_English{
    width: 600px;
    margin: 40px 0 0 0;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 24px;
}

.description_main{
    margin-top: 76px;
}

.description_theme{
    margin-top: 94px;
}

.top_description_logo_PV{
    margin-top: 316px;
}

.theme_description_container{
    display: flex;
    justify-content: space-between;
}

.theme_description_logo{
    margin: 186px 0 0 176px;
    width: fit-content;
    width: -moz-fit-content;
}

.logo_frame{
    position: relative;
}

.logo_frame_border_top{
    width: 64px;
    height: 64px;
    border-top: 1px solid #000000;
    position: absolute;
    top: -64px;
    right: -16px;
    box-sizing: border-box;
}

.logo_frame_border_right{
    width: 64px;
    height: 64px;
    border-right: 1px solid #000000;
    position: absolute;
    top: -80px;
    right: 0;
    box-sizing: border-box;
}

.theme_description_more_btn{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 134px;
}

.theme_description_more_btn_bg{
    width: 346px;
    height: 80px;
    background-color: #FF0084;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-out;
}

.theme_description_more_btn_bg_after{
    width: 40px;
    height: 80px;
    background-color: #FF0084;
    clip-path: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
    position: relative;
    left: 0;
    transition: all 0.2s ease-out;
}

.theme_description_more_btn_text{
    margin: 0 0 0 43px;
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}

.theme_description_more_btn_img{
    display: inline-block;
    margin-right: 25px;
}

.theme_description_more_btn_link{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
}

.theme_description_more_btn:hover .theme_description_more_btn_bg{
    width: 386px;
    height: 90px;
}

.theme_description_more_btn:hover .theme_description_more_btn_bg_after{
    width: 50px;
    height: 90px;
}


@media only screen and (max-width:1319px) {

    .theme_description_container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .theme_description_logo{
        margin: 186px 318px 0 0;
    }

    .top_description_frame{
        margin-top: 160px;
    }

}


@media only screen and (max-width: 1023px) {

    .top_description_title_bg{
        background: url(/2024/static/img/top_description_title_bg_mobile.svg);
        width: 200px;
        height: 25px;
    }

    .top_description_title{
        margin: 0 24px 0 0;
        font-size: 15px;
    }

}


.top_news{
    width: 100%;
    height: 1080px;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 980px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_news_h2{
    margin: 0;
    padding: 100px 0 0 11%;
    width: fit-content;
    width: -moz-fit-content;
    border-bottom: 2px solid #FFFFFF;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 64px;
    color: #FF0084;
    position: relative;
}

.top_news_h2::after{
    content: "";
    width: 140px;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    right: 0;
    transform: rotate(135deg);
    transform-origin: right;
}

.top_news_contents{
    display: flex;
    flex-direction: column;
}

.top_news_container{
    margin: 0 160px;
    height: 160px;
    display: flex;
    align-items: center;
    gap: 72px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.top_news_date{
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.top_news_title{
    width: 56vw;
    margin: 0;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.top_news_more_btn{
    margin: 0 auto 174px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    box-sizing: content-box;
}

.top_news_more_btn_text{
    margin: 0;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
}

.top_news_more_btn_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_news_more_btn:hover .top_introduction_more_btn_arrow{
    position: relative;
    left: 20px;
}

/*
@media only screen and (max-width: 1439px) {
    .top_news_container{
        height: 10vw;
    }

    .top_news_date{
        font-size: 2vw;
    }

    .top_news_title{
        font-size: 2vw;
    }
}
*/


.top_introduction_container{
    display: grid;
    grid-template-rows: repeat(3,50vw 80px) 50vw;
    grid-template-columns: 1fr 1fr;
}

.top_introduction_container_Blog{
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.top_introduction_container_Special{
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}

.top_introduction_container_Archives{
    grid-row: 5/6;
    grid-column: 1/3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.top_introduction_container_Access{
    grid-row: 7/8;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}

.top_introduction_title_English{
    margin: 0;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 96px;
}

.top_introduction_title_Japanese{
    margin: 0;
    /*以下フォント情報*/
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 32px;
}

.top_introduction_detail{
    margin: 56px 0 0 0;
    /*以下フォント情報*/
    font-family: 'Noto Sans JP';
    font-weight: 500;
    font-size: 32px;
}


.top_introduction_Blog{
    position: relative;
    right: 160px;
    aspect-ratio: 7/9;
}

.top_introduction_img_Blog{
    aspect-ratio: 10/9;
    clip-path: polygon(0 0,60% 0,100% 100%,40% 100%);
    background: #5F5F5F;
}


.top_introduction_Special{
    position: relative;
    left: 160px;
    aspect-ratio: 7/9;
}

.top_introduction_img_Special{
    aspect-ratio: 10/9;
    clip-path: polygon(40% 0,100% 0,60% 100%,0 100%);
    background: #5F5F5F;
}


.top_introduction_Archives{
    position: relative;
    right: 160px;
    aspect-ratio: 7/9;
}

.top_introduction_img_Archives{
    aspect-ratio: 10/9;
    clip-path: polygon(0 0,60% 0,100% 100%,40% 100%);
    background: #5F5F5F;
}


.top_introduction_Access{
    position: relative;
    left: 160px;
    aspect-ratio: 7/9;
}

.top_introduction_img_Access{
    aspect-ratio: 10/9;
    clip-path: polygon(40% 0,100% 0,60% 100%,0 100%);
    background: #5F5F5F;
}


.top_introduction_more_btn_container{
    width: inherit;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.top_introduction_more_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 72px;
    position: relative;
    gap: 24px;
}

.top_introduction_more_btn_arrow{
    position: relative;
    transition: all 0.2s ease-out;
    left: 0;
}


.top_introduction_more_btn_text{
    margin: 0;
    /*以下フォント情報*/
    font-family: 'Nunito Sans';
    font-weight: 500;
    font-size: 36px;
}

.top_introduction_more_btn_link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top_introduction_more_btn:hover .top_introduction_more_btn_arrow{
    left: 20px;
}

@media only screen and (max-width: 1439px) {

    .top_introduction_title_English{
        font-size: 6.5vw;
    }

    .top_introduction_title_Japanese{
        font-size: 2.2vw;
    }

    .top_introduction_detail{
        font-size: 2.2vw;
        margin-top: 3.88vw;
    }

    .top_introduction_Blog{
        right: 8vw;
    }

    .top_introduction_Special{
        left: 8vw;
    }

    .top_introduction_Archives{
        right: 8vw;
    }

    .top_introduction_Access{
        left: 8vw;
    }

}



.flip{
    transform: scale(-1,-1);
}

.flip_x{
    transform: scaleX(-1);
}

.flip_y{
    transform: scaleY(-1);
}


.only_PC{
    display: block;
}

.only_mobile{
    display: none;
}

@media only screen and (max-width:1023px) {

    .only_PC{
        display: none;
    }
    
    .only_mobile{
        display: block;
    }

}
